<!--  Numero paginas-->
<div class="buttons">
  <span *ngFor="let p of listOfPages" [ngStyle]="{'color':'white','background-color':'#2A2A2A','text-align':'center'}"
        (click)="updatePage(p)" class="cursor pagination">
    {{p}}
  </span>

</div>
<div class="container">

  <div class="tarjet row border border-dark border-4 rounded" *ngFor="let visitante of visitantes">
    <h2>Visitante</h2>
    <div class="row fila1">
      <div class="col-5">
        <label class="form-label" for="buscaSalidaName">Nombre:</label>
        <input required autocomplete="off" type="text" placeholder="Nombre" class="inputAgendados form-control"
               name="buscaSalidaName" id="buscaSalidaName" [(ngModel)]="visitante.nombreVisitante">
      </div>
      <div class="col-5">
        <label class="form-label" for="tipoVehiculo">Tipo de vehículo:</label>
        <input required autocomplete="off" type="text" placeholder="Tipo de vehiculo "
               class="inputAgendados form-control"
               name="tipoVehiculo" id="tipoVehiculo" [(ngModel)]="visitante.vehiculoVisitante">
      </div>
    </div>

    <div class="row fila2">
      <div class="col-5">
        <label class="form-label" for="fechaVisita">Fecha:</label>
        <input required autocomplete="off" type="date" placeholder="Fecha agendada" class="inputAgendados form-control"
               name="fechaVisita" id="fechaVisita" [(ngModel)]="visitante.fechaLlegada">
      </div>
      <div class="col-5">
        <label class="form-label" for="horaVisita">Hora:</label>
        <input required autocomplete="off" type="time" placeholder="Hora" class="inputAgendados form-control"
               id="horaVisita" name="fechaVisita"
               [(ngModel)]="visitante.horaLlegada">
      </div>
    </div>

    <div class="row fila3">
      <div class="col-6"></div>
      <div class="col-3">
        <button class="botonCancelar btn btn-danger btn-block">Cancelar</button>
      </div>
      <div class="col-3">
        <button class="botonEditar btn btn-primary btn-block">Editar</button>
      </div>
    </div>

  </div>

</div>
