<div class="contenido">
<div class="bitacoraDatos">
    <!-- titulo contenedor -->
    <div class="titleDatos">
      <h2>Visitante</h2>
    </div>
    <!-- form de nombre -->
    <div class="nombreVisitante">
      <h3>Nombre:</h3>
      <input required type="text" placeholder="Nombre" class="inputSalidas" name="buscaSalidaName">
    </div>
    <!-- form de hora de entrada-->
    <div class="horaEntrada">
      <h3>Fecha </h3>
      <input required type="date" placeholder="01/01/2002" class="inputSalidas" name="fechaVisita">
    </div>
    <!-- form de hora de salida-->
    <div class="tipoVehiculo">
      <h3>Tipo de vehículo </h3>
      <input required type="text" placeholder="Nissan Centra Rojo " class="inputSalidas" name="tipoVehiculo">
    </div>
    <!-- form de Caseta-->
    <div class="HoraEn">
      <h3>Hora </h3>
      <input required type="time" placeholder="01:00 pm" class="inputSalidas" name="fechaVisita">
    </div>
    <!-- boton para enviar datos del eliminar y realizar registro de la salida-->
    <div class="botonesSalida">
      <!-- boton Guardar -->
      <div class="buttonEditar">
        <button class="botonEditar">Editar</button>
      </div>
      <!-- boton eliminar -->
      <div class="buttonCancelar">
        <button class="botonCancelar">Cancelar</button>
      </div>
    </div>
    <div class="estadoPago">
        <h3>Estado de pago:<br></h3>
        <div class="imgPagado1">
          <img src="../../../assets/happyFace.png" alt="pagado" id="pagadoImg" class="ImgPagado" width="150px" >
          <div class="txtPago">
            <h3>Aceptado</h3>
          </div>
          
        </div>
        <!--<div class="imgNoPagado">
          <img src="../../../assets/sadFace.png" alt="no pagado" id="noPagadoImg" width="160px"> <br><br><br>
          <h3>No pagado<br><br></h3>
        </div>
        -->
      </div>
  </div>
  
  <div class="bitacoraDatos">
    <!-- titulo contenedor -->
    <div class="titleDatos">
      <h2>Visitante</h2>
    </div>
    <!-- form de nombre -->
    <div class="nombreVisitante">
      <h3>Nombre:</h3>
      <input required type="text" placeholder="Nombre" class="inputSalidas" name="buscaSalidaName">
    </div>
    <!-- form de hora de entrada-->
    <div class="horaEntrada">
      <h3>Fecha </h3>
      <input required type="date" placeholder="01/01/2002" class="inputSalidas" name="fechaVisita">
    </div>
    <!-- form de hora de salida-->
    <div class="tipoVehiculo">
      <h3>Tipo de vehículo </h3>
      <input required type="text" placeholder="Nissan Centra Rojo " class="inputSalidas" name="tipoVehiculo">
    </div>
    <!-- form de Caseta-->
    <div class="HoraEn">
      <h3>Hora </h3>
      <input required type="time" placeholder="01:00 pm" class="inputSalidas" name="fechaVisita">
    </div>
    <!-- boton para enviar datos del eliminar y realizar registro de la salida-->
    <div class="botonesSalida">
      <!-- boton Guardar -->
      <div class="buttonEditar">
        <button class="botonAceptar">Aceptar</button>
      </div>
      
    </div>
    <div class="estadoPago">
        <h3>Estado de pago:<br></h3>
        <div class="imgPagado1">
          <img src="../../../assets/sadFace.png" alt="pagado" id="pagadoImg" class="ImgPagado" width="150px" >
          <div class="txtPago">
            <h3>Rechazado</h3>
          </div>
          
        </div>
        <!--<div class="imgNoPagado">
          <img src="../../../assets/sadFace.png" alt="no pagado" id="noPagadoImg" width="160px"> <br><br><br>
          <h3>No pagado<br><br></h3>
        </div>
        -->
      </div>
  </div>
  
</div>
