<!--  Numero paginas-->
<div class="buttons">
  <span *ngFor="let p of listOfPages" [ngStyle]="{'color':'white','background-color':'#2A2A2A','text-align':'center'}"
        (click)="updatePage(p)" class="cursor pagination">
    {{p}}
  </span>
  
  </div>
<div class="contenido">
  <div *ngFor="let visitante of visitantes">
<div class="bitacoraDatos">
  
    <!-- titulo contenedor -->
    <div class="titleDatos">
      <h2>Visitante</h2>
    </div>
    
      <!-- form de nombre -->
      <div class="nombreVisitante">
        <h3>Nombre:</h3>
        
        <input required type="text" placeholder="Nombre" class="inputAgendados" name="buscaSalidaName" [(ngModel)]="visitante.nombreVisitante">
      </div>
      <!-- form de hora de entrada-->
      <div class="horaEntrada">
        <h3>Fecha </h3>
        <input required type="date" placeholder="Fecha agendada" class="inputAgendados" name="fechaVisita" [(ngModel)]="visitante.fechaLlegada">
      </div>
      <!-- form de hora de salida-->
      <div class="tipoVehiculo">
        <h3>Tipo de vehículo </h3>
        <input required type="text" placeholder="Tipo de vehiculo " class="inputAgendados" name="tipoVehiculo" [(ngModel)]="visitante.vehiculoVisitante">
      </div>
      <!-- form de Caseta-->
      <div class="HoraEn">
        <h3>Hora </h3>
        <input required type="time" placeholder="Hora" class="inputAgendados"name="fechaVisita" [(ngModel)]="visitante.horaLlegada">
      </div>
      <!-- boton para enviar datos del eliminar y realizar registro de la salida-->
      <div class="botonesSalida">
        <!-- boton Editar -->
        <div class="buttonEditar">
          <button class="botonEditar">Editar</button>
        </div>
        <!-- boton eliminar -->
        <div class="buttonCancelar">
          <button class="botonCancelar">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  

  
</div>
