.contenido{
    
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    height: 710px;
    width: 1170px;
   
}
.Opciones{
    height: 30px;
    width: 500px;
    
}
.BotonVehiculo{
    height: 30px;
    width: 30px;
}
.DatosTipo{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center; 
    line-height: auto;
    vertical-align: middle;
    width: 1170px;
    float: left;
    
}
.contenido div{
    margin: 0 auto;
    padding-left: 50px;
    float: left;
   
    
}
.barra{
    height: 30px;
    width: 500px;

}
.Datos{
    width: 1170px;
    float: left;
}  
.Datos div{
    margin: 0 auto;
    width: 550px; 
}
.boton{
    height: 50px;
    width: 200px;
    float: right;
    background-color: rgb(110, 148, 221);
    color: white;
    border-radius: 40px;
    font-size: 35px;
}

.BotDiv{
    width: 1170px;
    padding-top: 20px;
    
}