<div class="container">
  <div class="formulario row">
    <div class="row">
      <div class="col-6 text-center">
        <h2> Tipo de visita </h2>
        <select class="Opciones form-select form-select-lg mb-3" name="TipoVisita" id="Visita" aria-label=".form-select-lg example">
          <option value="Visitantes">
            <h2>Visitantes</h2>
          </option>
          <option value="Proovedor">
            <h2>Provedor</h2>
          </option>
        </select>
      </div>
    </div>
    <div class="col">
      <h2>Datos del Visitante</h2>
    </div>


    <div class="row">
      <div class="col-5">
        <label class="form-label">Nombre</label>
        <input class="form-control" required autocomplete="off" type="text" placeholder="Escriba aqui"
          [(ngModel)]="visitante.nombreVisitante">
        <input id="flexCheckDefault" class="BotonVehiculo form-check-input" type="checkbox" name="Vehiculo"
          [(ngModel)]="isChecked">
        <label class="form-check-label" for="flexCheckDefault">
          ¿Tiene vehiculo?
        </label>

      </div>

      <div class="col-5">
        <div *ngIf="isChecked">
          <label class="form-label" for="type_car">Tipo de Vehículo</label>
          <input id="type_car" class="form-control" required autocomplete="off" type="text" placeholder="Escriba aqui"
            [(ngModel)]="visitante.vehiculoVisitante">

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-5">
        <div *ngIf="isChecked">
          <label class="form-label">Tarjeton</label>
          <input class="form-control" required autocomplete="off" type="text" placeholder="Escriba aqui"
            [(ngModel)]="visitante.tarjetonVisitante">
        </div>
      </div>
      <div class="col-5">
        <div *ngIf="isChecked">
          <label class="form-label" for="placas">Placas</label>
          <input class="form-control" id="placas" required autocomplete="off" type="text" placeholder="Escriba aqui"
            [(ngModel)]="visitante.placasVehiculo">
        </div>
      </div>

    </div>

    <div class="col">
      <h2>Datos del condómino</h2>
    </div>
    <div class="row g-3 mt-3 row justify-content-around">

      <div class="col-5">
        <label class="form-label" for="nombre_condomino">Nombre</label>
        <input class="form-control" required autocomplete="off" type="text" placeholder="Escriba aqui"
          id="nombre_condomino" (keyup)="findInquilinoByName()" [(ngModel)]="name" list="nombre_condominos">
        <div class="busqueda" *ngIf="condominos.length > 0">
          <div *ngFor="let c of condominos">
            <div (click)="selectInquilino(c)" class="cursor">{{c.name}}</div>
          </div>
        </div>
      </div>

      <div class="col-5">

        <div class="input" *ngIf="condomino.id">
          <label class="form-label" for="barra">Número de la casa</label>
          <input required autocomplete="off" type="text" class="barra form-control" name="asdasd" [(ngModel)]="condomino.numeroCasa" disabled>
          <label class="form-label" for="calle">Calle</label>
          <input required autocomplete="off" type="text" class="barra form-control" name="asdasd" [(ngModel)]="condomino.direccion" disabled>
        </div>
      </div>
    </div>
    
    <div class="col">
      <h2>Datos de Generales</h2>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="fecha" class="form-label">Fecha</label>
        <input class="form-control" id="fecha" required autocomplete="off" type="date" placeholder="Escriba aqui"
          [(ngModel)]="visitante.fechaLlegada">
      </div>
      <div class="col-5">
        <label class="form-label" for="autoriza">Autorizada por</label>
        <input id="autoriza" class="form-control" required autocomplete="off" type="text" placeholder="Escriba aqui"
          (keyup)="findInquilinoByName()" [(ngModel)]="name">
        <div class="busqueda" *ngIf="condominos.length > 0">
          <div *ngFor="let c of condominos">
            <div (click)="selectInquilino(c)" class="cursor">{{c.name}}</div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-5">
        <label class="form-label" for="hora">Hora</label>
        <input class="form-control" id="hora" required autocomplete="off" type="time" placeholder="Escriba aqui"
          [(ngModel)]="visitante.horaLlegada">
      </div>
      <div class="col-5 ">
        <label class="form-label" for="caseta">Caseta recibida:</label>
        <select class="form-control" required autocomplete="on" name="Caseta" id="caseta"
        [(ngModel)]="visitante.casetaLlegada">
          <option value="Caseta 1">
            <h2>Caseta 1</h2>
          </option>
          <option value="Caseta 2">
            <h2>Caseta 2</h2>
          </option>
        </select>
      </div>
    </div>

    <div class="row ">
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-3 align-self-end">
        <button class="botonAgendar btn btn-success btn-block" (click)="save()">Entrar</button>
      </div>

    </div>

  </div>

  <!--
  <div class="DatosTipo">
    <h1> Tipo de visita </h1>
    <select class="Opciones" name="TipoVisita" id="Visita">
      <option value="Visitantes">
        <h2>Visitantes</h2>
      </option>
      <option value="Proovedor">
        <h2>Provedor</h2>
      </option>
    </select>
  </div>
  <div class="Titulo">
    <h1> DATOS DEL VISITANTES </h1>
  </div>
  <div class="Datos">
    <div>
      <h2>Nombre</h2> <br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.nombreVisitante">
    </div>
    <span>¿Tiene vehiculo?</span>
    <input class="BotonVehiculo" type="checkbox" name="Vehiculo" [(ngModel)]="isChecked"><br>
    <div *ngIf="isChecked">
      <h2>Tipo de Vehículo</h2>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.vehiculoVisitante">
    </div>
    <div *ngIf="isChecked">
      <h2>Tarjetón</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.tarjetonVisitante">
    </div>
    <div *ngIf="isChecked">
      <h2>Placas</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.placasVehiculo">
    </div>
  </div>
  <div class="Titulo">
    <h1> DATOS DEL CONDOMINO </h1>
  </div>
  <div class="Datos">
    <div>
      <h2>Nombre</h2> <br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" 
      (keyup)="findInquilinoByName()"
      [(ngModel)]="name">
      <div *ngFor="let c of condominos">
        <div (click)="selectInquilino(c)" class="cursor">{{c.name}}</div>
      </div>
    </div>
    <div *ngIf="condomino.id">
      <h2>Calle</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="condomino.direccion" disabled>
    </div>
    <div *ngIf="condomino.id">
      <h2>Número de la Casa</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="condomino.numeroCasa" disabled>
    </div>
  </div>
  <div class="Titulo">
    <h1>DATOS GENERALES</h1>
  </div>
  <div class="Datos">
    <div>
      <h2>Fecha</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.fechaLlegada">
    </div>
    <div>
      <h2>Hora</h2><br>
      <input required autocomplete="off" type="time" class="barra" name="asdasd" [(ngModel)]="visitante.horaLlegada">
    </div>
    <div>
      <h2>Autorizado por</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" 
      [(ngModel)]="visitante.autorizacion">
    </div>
    <div>
      <h2>Caseta</h2><br>
      <select class="Opciones" name="Caseta" id="Caseta" [(ngModel)]="visitante.casetaLlegada">
        <option value="Caseta 1">
          <h2>Caseta 1</h2>
        </option>
        <option value="Caseta 2">
          <h2>Caseta 2</h2>
        </option>
      </select>
    </div>
  </div>
  <div class="BotDiv">
    <button class="boton" (click)="save()">Entrar</button>
  </div>
-->
</div>