<div class="contenido">
  <div class="DatosTipo">
    <h1> Tipo de visita </h1>
    <select class="Opciones" name="TipoVisita" id="Visita">
      <option value="Visitantes">
        <h2>Visitantes</h2>
      </option>
      <option value="Proovedor">
        <h2>Provedor</h2>
      </option>
    </select>
  </div>
  <div class="Titulo">
    <h1> DATOS DEL VISITANTES </h1>
  </div>
  <div class="Datos">
    <div>
      <h2>Nombre</h2> <br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.nombreVisitante">
    </div>
    <span>¿Tiene vehiculo?</span>
    <input class="BotonVehiculo" type="checkbox" name="Vehiculo" [(ngModel)]="isChecked"><br>
    <div *ngIf="isChecked">
      <h2>Tipo de Vehículo</h2>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.vehiculoVisitante">
    </div>
    <div *ngIf="isChecked">
      <h2>Tarjetón</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.tarjetonVisitante">
    </div>
    <div *ngIf="isChecked">
      <h2>Placas</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.placasVehiculo">
    </div>
  </div>
  <div class="Titulo">
    <h1> DATOS DEL CONDOMINO </h1>
  </div>
  <div class="Datos">
    <div>
      <h2>Nombre</h2> <br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" 
      (keyup)="findInquilinoByName()"
      [(ngModel)]="name">
      <div *ngFor="let c of condominos">
        <div (click)="selectInquilino(c)" class="cursor">{{c.name}}</div>
      </div>
    </div>
    <div>
      <h2>Calle</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="condomino.direccion" disabled>
    </div>
    <div>
      <h2>Número de la Casa</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="condomino.numeroCasa" disabled>
    </div>
  </div>
  <div class="Titulo">
    <h1>DATOS GENERALES</h1>
  </div>
  <div class="Datos">
    <div>
      <h2>Fecha</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.fechaLlegada">
    </div>
    <div>
      <h2>Hora</h2><br>
      <input required autocomplete="off" type="time" class="barra" name="asdasd" [(ngModel)]="visitante.horaLlegada">
    </div>
    <div>
      <h2>Autorizado por</h2><br>
      <input required autocomplete="off" type="text" class="barra" name="asdasd" [(ngModel)]="visitante.autorizacion">
    </div>
    <div>
      <h2>Caseta</h2><br>
      <select class="Opciones" name="Caseta" id="Caseta" [(ngModel)]="visitante.casetaLlegada">
        <option value="Caseta 1">
          <h2>Caseta 1</h2>
        </option>
        <option value="Caseta 2">
          <h2>Caseta 2</h2>
        </option>
      </select>
    </div>
  </div>
  <div class="BotDiv">
    <button class="boton" (click)="save()">Entrar</button>
  </div>
</div>