<div class="contenido">
  <div class="DatosTipo">
    <h1> Tipo de visita </h1>
    <select class="Opciones" name="TipoVisita" id="Visita">
      <option value="Visitantes"><h2>Visitantes</h2></option>
      <option value="Provedor"><h2>Provedor</h2></option>
    </select>
  </div>
  <div class="Titulo">
    <h1> DATOS DEL VISITANTES </h1>
  </div>
  <div class="Datos">
    <div><h2>Nombre</h2> <br>
      <input required type="text" class="barra" name="asdasd" [(ngModel)]="visitante.nombreVisitante">
    </div>
    <div><h2>Tipo de Vehículo</h2> <input class="BotonVehiculo" type="checkbox" name="Vehiculo"><br>
      <input required type="text" class="barra" name="asdasd" [(ngModel)]="visitante.vehiculoVisitante">
    </div>
    <div><h2>Tarjetón</h2><br>
      <input required type="text" class="barra" name="asdasd" [(ngModel)]="visitante.tarjetonVisitante">
    </div>
    <div><h2>Placas</h2><br>
      <input required type="text" class="barra" name="asdasd" [(ngModel)]="visitante.placasVehiculo">
    </div>
  </div>
  <div class="Titulo">
    <h1> DATOS DEL CONDOMINO </h1>
  </div>
  <div class="Datos">
    <div><h2>Nombre</h2> <br>
      <input required type="text" class="barra" name="asdasd" required>
    </div>
    <div><h2>Calle</h2><br>
      <input required type="text" class="barra" name="asdasd">
    </div>
    <div><h2>Numero de la Casa</h2><br>
      <input required type="text" class="barra" name="asdasd">
    </div>
  </div>
  <div class="Titulo">
    <h1>DATOS GENERALES</h1>
  </div>
  <div class="Datos">
    <div><h2>Fecha</h2><br>
      <input required type="text" class="barra" name="asdasd" [(ngModel)]="visitante.fechaLlegada">
    </div>
    <div><h2>Hora</h2><br>
      <input required type="time" class="barra" name="asdasd" [(ngModel)]="visitante.horaLlegada">
    </div>
    <div><h2>Autorizado por</h2><br>
      <input required type="text" class="barra" name="asdasd">
    </div>
    <div><h2>Caseta</h2><br>
      <select class="Opciones" name="Caseta" id="Caseta">
        <option value="Caseta 1" [(ngModel)]="visitante.casetaLlegada"><h2>Caseta 1</h2></option>
        <option value="Caseta 2" [(ngModel)]="visitante.casetaLlegada"><h2>Caseta 2</h2></option>
      </select>
    </div>
  </div>
  <div class="BotDiv">
    <button class="boton" (click)="save()">Entrar</button>
  </div>
</div>
