.encabezado{
    width: auto;
    height: 100px;
    background-image: url(../../assets/Fondo.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 400px;
}

.fondoenc{
    height: 100px;
    background-color: rgba(211, 245, 197, 0.7);
}

.titulo{
    height: 100px;
    background-image: url(../../assets/title.PNG);
    background-repeat: no-repeat;
    position: static;
}

.container{
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 400px;
    top: 20px;
}

.img{
    height: 40px;
    width: 40px;
    background-image: url(../../assets/perfil.PNG);
    background-repeat: no-repeat;
}

.name{
    font-size: 20px;
}

nav{
    width: fit-content;
    position: absolute;
    right: 440px;
    top: 60px;
}