<!-- contenedor de inquinos -->
<div class="contenido">
    <div class="containerInquilinos">
        <!-- contenedor de titulo contenedor -->
        <div class="title1">
            <h1>INQUILINOS</h1>
        </div>
        <!-- titulo de seccion-->
        <div class="infoTxt">
            <h2>BUSQUEDA DE INQUILINO</h2>
        </div>
        <!-- form de nombre -->
        <div class="nombre">
            <h3>Nombre<br><br></h3>
            <input required type="text" placeholder="Buscar Inquilino" class="inputBarra" name="buscaPagosName">
        </div>
        <!-- form de telefono -->
        <div class="telefono">
            <h3>Número de teléfono<br><br></h3>
            <input required type="text" placeholder="Buscar por numero de teléfono" class="inputBarra" name="buscaPagosTel">
        </div>
        <!-- boton para enviar datos del formulario y realizar busqueda-->
        <div class="button">
            <button class="boton">Buscar</button>
        </div>
    </div>
    <!-- contenedor datos de inquilino -->
    <div class="containerDatos">
        <!-- contenedor de titulo contenedor -->
        <div class="title2">
            <h1>DATOS DEL CONDÓMINO</h1>
        </div>
        <!-- form de nombre -->
        <div class="nombreDatos">
            <h3>Nombre:<br><br></h3>
            <input required type="text" placeholder="Buscar Inquilino" class="inputDatos" name="muestraPagosName">
        </div>
        <!-- Imagen de programa -->
        <div class="imagenUser">
            <img src="https://www.pngmart.com/files/21/Account-User-PNG-Photo.png" alt="user" id="userImg" width="200px">
        </div>
        <!-- form de correo -->
        <div class="correoDatos">
            <h3>Correo Electrónico:<br><br></h3>
            <input required type="text" placeholder="Correo Electrónico" class="inputDatos" name="muestraPagosCorreo">
        </div>
        <!-- form de direccion -->
        <div class="direccionDatos">
            <h3>Dirección:<br><br></h3>
            <input required type="text" placeholder="Dirección" class="inputDatos" name="muestraPagosDireccion">
        </div>
        <!-- form de telefono-->
        <div class="telefonoDatos">
            <h3>Teléfono:<br><br></h3>
            <input  required type="text" placeholder="Teléfono" class="inputDatos" name="muestraPagosTelefono">
        </div>
        <!-- form de numero emergencia -->
        <div class="emergenciaDatos">
            <h3>Número de Emergencia:<br><br></h3>
            <input required type="text" placeholder="Teléfono de Emergencia" class="inputDatos" name="muestraPagosEmergencia">
        </div>
        <!-- boton modificar -->
        <div class="buttonModificar">
            <button class="botonModificar">Modificar</button>
        </div>
        <!-- boton eliminar -->
        <div class="buttonEliminar">
            <button class="botonEliminar">Eliminar</button>
        </div>
    </div>
</div>
