/* titulos */

.title1 {
    position: relative;
    top: -40px;
    left: -30px;
}

.title2 {
    position: relative;
    top: -50px;
    left: -30px;
}


/* blur */

.contenido {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    height: 710px;
    width: 1170px;
}


/* Contenedores principales */

.containerInquilinos {
    position: relative;
    width: 1000px;
    height: 250px;
    border-style: solid;
    background-color: #d3f5c5;
    top: 100px;
    opacity: 0.9;
}

.containerDatos {
    position: relative;
    width: 1000px;
    height: 250px;
    left: 5px;
    top: 160px;
    /* border-style: solid; */
}


/* Titulo seccion */

.infoTxt {
    position: relative;
    font-size: 20px;
    left: -320px;
    top: -25px;
    width: 324px;
}


/* titulo de barra de busqueda nombre */

.nombre {
    position: relative;
    font-size: 20px;
    top: -20px;
    left: -170px;
    width: 600px;
}


/* titulo de barra de busqueda titulo */

.telefono {
    position: relative;
    font-size: 20px;
    top: -35px;
    left: -170px;
    width: 600px;
}


/* Barra de busqueda y mostrar datos*/

.inputBarra {
    position: relative;
    height: 40px;
    width: 900px;
    padding-left: 10px;
    border: 6px solid rgb(211, 245, 197);
    border-radius: 10px;
    top: -15px;
    left: 30px;
    outline: 0px;
    font-size: 20px;
}

.inputDatos {
    position: relative;
    height: 35px;
    width: 350px;
    padding-left: 10px;
    border: 6px solid rgb(211, 245, 197);
    border-radius: 10px;
    top: -15px;
    left: 30px;
    outline: 0px;
    font-size: 15px;
}


/* dise;o del boton */

.boton {
    position: relative;
    height: 35px;
    width: 300px;
    left: 350px;
    top: -35px;
    background-color: rgb(110, 148, 221);
    color: white;
    border-radius: 40px;
    font-size: 25px;
}


/* imagen de usuario */

.imagenUser {
    position: relative;
    height: 35px;
    width: 300px;
    left: -400px;
    top: -90px;
}


/* campo de los datosa mostrar */

.nombreDatos {
    position: relative;
    font-size: 20px;
    top: -35px;
    left: -10px;
    width: 600px;
}

.correoDatos {
    position: relative;
    font-size: 20px;
    top: -75px;
    left: -10px;
    width: 600px;
}

.direccionDatos {
    position: relative;
    font-size: 20px;
    top: -75px;
    left: -10px;
    width: 600px;
}

.telefonoDatos {
    position: absolute;
    font-size: 20px;
    top: -2px;
    left: 650px;
    width: 600px;
}

.emergenciaDatos {
    position: absolute;
    font-size: 20px;
    top: 80px;
    left: 650px;
    width: 600px;
}


/* dise;o del boton */

.botonModificar {
    height: 40px;
    width: 150px;
    left: 300px;
    top: -75px;
    position: relative;
    background-color: rgb(110, 148, 221);
    color: white;
    border-radius: 40px;
    font-size: 20px;
}

.botonEliminar {
    height: 40px;
    width: 150px;
    left: 700px;
    top: -115px;
    position: relative;
    background-color: rgb(237, 95, 95);
    color: white;
    border-radius: 40px;
    font-size: 20px;
}