<!-- contenedor de inquinos -->
<div class="contenido">
  <!-- contenedor para flexbox -->
  <div class="PaqueteBusqueda">
    <!-- buscar visitante -->
    <div class="buscaPaquete">
      <h3>Buscar:</h3>
      <input required type="text" placeholder="Buscar" class="inputBuscar" name="buscaSalida">
    </div>

    <!-- Datos del Visitante-->
    <div class="bitacoraDatos">
      <!-- titulo contenedor -->
      <div class="titleDatos">
        <h2>Paquete</h2>
      </div>
      <!-- formulario recibido -->
      <section>
        <div class="form">
          <div class="input">
            <label for="recibe_Paquete">Recibido por:</label>
            <input required type="text" placeholder="Persona que recibe" id="recibe_Paquete" [(ngModel)]="entregaPaquete.nombreCondomino">
          </div>
        </div>
      </section>
      <!-- formulario fecha -->
      <section>
        <div class="form2">
          <div class="input">
            <label for="fecha_entrega">Fecha de entrega:</label>
            <div class="dateForm">
              <input required type="date" id="fecha_entrega" [(ngModel)]="entregaPaquete.fechaEntrega">
            </div>
          </div>
        </div>
      </section>
      <!-- formulario Nombre del entregado -->
      <section>
        <div class="form3">
          <div class="input">
            <label for="entregaPaquete">Entregado por:</label>
            <div class="entregaForm">
              <input required type="text" placeholder="Persona que entrega" id="entregaPaquete" [(ngModel)]="entregaPaquete.recibeGuardia">
            </div>
          </div>
        </div>
      </section>
      <!-- formulario horas Entregado -->
      <section>
        <div class="form4">
          <div class="input">
            <label for="hora_entrega">Hora de entrega:</label>
            <div class="entregaHora">
              <input required type="time" id="hora_entrega" [(ngModel)]="entregaPaquete.horaEntrega">
            </div>
          </div>
        </div>
      </section>
      <!-- formulario caseta -->
      <section>
        <div class="form5">
          <div class="input">
            <label for="guarda_Paquete">Caseta</label>
            <div class="entregaCaseta">
              <input required type="text" placeholder="Guardar paquete en" id="guarda_Paquete" [(ngModel)]="entregaPaquete.casetaEntrega">
            </div>
          </div>
        </div>
      </section>
      <!-- boton para enviar datos del eliminar y realizar registro del paquete-->
      <div class="botonesRegistro">
        <!-- boton Guardar -->
        <button (click)="save()">Entregar</button>
      </div>
    </div>
  </div>
</div>
