
.tarjetaT{
  max-width: auto;
  width: auto;
  border-radius: 5px;
  margin: 20px;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  height: 100% !important;
  max-width: auto;
  height: fit-content;
}

/* estilo de botones */





.cursor:hover {
  cursor: pointer;
}

.pagination {
  padding: 14px;
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button{
  
  border-radius: 5px;
  margin: 20px;
}