<!--  Numero paginas-->
<div class="buttons">
<span *ngFor="let p of listOfPages" [ngStyle]="{'color':'white','background-color':'#2A2A2A','text-align':'center'}"
      (click)="updatePage(p - 1)" class="cursor pagination">
  {{p + 1}}
</span>
</div>

<div class="container">
  <div class="titleDatos">
    <h2>ENTREGA DE PAQUETES</h2>
  </div>
  <i *ngIf="isLoading" class="spinner-border"></i>
  <div *ngIf="!paquetes.length">No hay paquetes</div>
  <div class="tarjetaT mt-3 p-2 text-white bg-dark " *ngFor="let paquete of paquetes">
    <div class="row">
      <div class="col-5">
        <label class="form-label" for="recibidorfor">Recibido por: </label>
        <input id="recibidorfor" required autocomplete="off" type="text" placeholder="Persona que recibe"
               class="form-control"
               [(ngModel)]="paquete.receivesResident">
      </div>
      <div class="col-5">
        <label class="form-label" for="entregadofor">Entregado por: </label>
        <input id="entregadofor" required autocomplete="off" type="text" placeholder="Persona que entrega"
               class="form-control"
               [(ngModel)]="paquete.deliveryGuard">
      </div>
    </div>
    <div class="row mt-3  ">
      <div class="col-5">
        <label class="form-label" for="caseta">Caseta Entrega</label>
        <select class="form-control" required autocomplete="on" name="Caseta" id="caseta"
                [(ngModel)]="paquete.deliveryBooth">
          <option value="Caseta 1">
            <h2>Caseta 1</h2>
          </option>
          <option value="Caseta 2">
            <h2>Caseta 2</h2>
          </option>
        </select>
      </div>
      <label class="form-label" for="guia">Numero de guia</label>
      <input class="form-control"
             disabled
             autocomplete="off"
             type="text"
             placeholder="Guardar paquete en"
             id="guia"
             [(ngModel)]="paquete.guideNumber">
      <div class="col-5 ">

      </div>
      <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="botonModificar btn btn-primary" (click)="save(paquete)">Entregar</button>
        </div>
      </div>

    </div>
  </div>
</div>
