<header>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="logo">
          <a routerLink="/"><img alt="LOGO" class="LOGO" src="assets/title.PNG"></a>
        </div>
      </div>
      <div class="col text-end">
        <div class="menu ">
          <div class="name"><img [src]="src" alt="PERFIL" class="perfiluser"> {{user.name}} </div>
          <a (click)="logout()" class="log" href=""><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</header>


