<!-- contenedor de titulo de seccion -->
<div class="containerTitle">
    <h1>INFORMES</h1>
</div>
<!-- contenedor de Busqueda de busqueda de inquilinos -->
<div class="infoContainer1">
    <!-- titulo de seccion -->
    <div class="infoTxt">
        <h1>BUSQUEDA DE INQUILINO</h1>
    </div>
    <!-- form de nombre -->
    <div class="nombre">
        <h1>Nombre</h1><br>
        <input type="text" placeholder="Buscar Inquilino" class="inputBarra" name="busqueda">
    </div>
    <!--  Numero de casa -->
    <div class="numCasa">
        <!-- menu desplegable de los numeros -->
        <a class="numCasa">
            <h1>Número de casa</h1>
        </a>
        <ul>
            <li><a class="num">Partners</a></li>
            <li><a class="num">Team</a></li>
            <li><a class="num">Products</a></li>
        </ul>
    </div>
</div>
<!-- contenedor de Busqueda de busqueda de inquilinos -->
<div class="infoContainer2">

</div>