<div class="container">
  <div class="tarjet row border border-dark border-4 rounded">
    <!-- Busqueda del inquilino -->
    <h2>Inquilino</h2>
    <div class="col">
      <label class="form-label" for="buscaPagosName"
        >Busqueda de inquilino:
      </label>
      <!-- Input para ingresar el nombre del condomino a buscar -->
      <input
        (keyup)="findInquilinoByName()"
        [(ngModel)]="name"
        autocomplete="off"
        class="inputBarra form-control"
        id="buscaPagosName"
        name="buscaPagosName"
        placeholder="Buscar Inquilino"
        required
        type="text"
      />
      <!-- recorre la lista de los usuarios para poder mostrarlos en pantalla -->
      <div *ngIf="condominos.length > 0" class="busqueda">
        <div *ngFor="let c of condominos">
          <!-- Seleccion de inquilinos de la lista para mostrar en el input -->
          <div
            (click)="selectInquilino(c)"
            class="cursorb"
            [routerLink]="['/modificacion_condomino', c.id]"
          >
            {{ c.user.name }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="condomino.id"
    class="tarjet row border border-dark border-4 rounded"
  >
    <h1>Datos del condómino</h1>
    <div class="row">
      <div class="col-5">
        <label class="form-label" for="muestraPagosName">Nombre: </label>
        <!-- Input para el nombre del condomino -->
        <input
          #altaResidente
          (keyup)="validaResidente(regexName, altaResidente.value)"
          [(ngModel)]="condomino.user.name"
          autocomplete="off"
          class="inputDatos form-control"
          id="muestraPagosName"
          name="muestraPagosName"
          placeholder="Buscar Inquilino"
          required
          type="text"
        />
        <!--Alerta nombre del residente-->
        <div *ngIf="!altaName" class="alert alert-danger">
          Ingrese el nombre del residente
        </div>
      </div>
      <div class="col-5">
        <label class="form-label" for="muestraPagosTelefono">Teléfono:</label>
        <!-- Input para ingresar el numero de telefono del residente -->
        <input
          #altaTel
          (keydown)="validaTel(regexTel, altaTel.value)"
          [(ngModel)]="condomino.user.telephoneNumber"
          autocomplete="off"
          class="inputDatos form-control"
          id="muestraPagosTelefono"
          name="muestraPagosTelefono"
          placeholder="Teléfono"
          required
          type="number"
        />
        <!--Alerta numero telefono-->
        <div *ngIf="!altaTelResidente" class="alert alert-danger">
          Ingrese el número de telefono del residente
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-5">
        <label class="form-label" for="muestraPagosDireccion">Calle:</label>
        <!-- Input para ingresar la calle del residente -->
        <input
          #residenteCalle
          (keyup)="validaCalle(regexName, residenteCalle.value)"
          [(ngModel)]="condomino.street"
          autocomplete="off"
          class="inputDatos form-control"
          id="muestraPagosDireccion"
          name="muestraPagosDireccion"
          placeholder="Dirección"
          required
          type="text"
        />
        <!--Alerta deCalle de inquilino -->
        <div *ngIf="!altaStreet" class="alert alert-danger" id="alertRecibo">
          Ingrese la calle de la residencia
        </div>
      </div>
      <div class="col-5">
        <label class="form-label" for="muestraPagosCorreo"
          >Correo Electrónico:</label
        >
        <!-- Input para ingresar el correo electronico -->
        <input
          #altaCorreo
          (keydown)="validaCorreo(regexMail, altaCorreo.value)"
          [(ngModel)]="condomino.user.email"
          autocomplete="off"
          class="inputDatos form-control"
          id="muestraPagosCorreo"
          name="muestraPagosCorreo"
          placeholder="Correo Electrónico"
          required
          type="text"
        />
        <!--Alerta de datos (recibe Inquilino)-->
        <div *ngIf="!altaMail" class="alert alert-danger">
          Ingrese un correo electronico valido
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-5">
        <label class="form-label" for="muestraPagosEmergencia"
          >Número de emergencia:</label
        >
        <!-- Input para ingresar el numero de emergencia -->
        <input
          #altaEmergencia
          (keydown)="validaEmergencia(regexTel, altaEmergencia.value)"
          [(ngModel)]="condomino.user.emergencyNumber"
          autocomplete="off"
          class="inputDatos form-control"
          id="muestraPagosEmergencia"
          name="muestraPagosEmergencia"
          placeholder="Teléfono de emergencia"
          required
          type="number"
        />
        <!--Alerta de datos (recibe Inquilino)-->
        <div *ngIf="!altaTelEmergencia" class="alert alert-danger">
          Ingrese un número telefonico valido
        </div>
      </div>
      <div class="col-5">
        <!-- Input para ingresar el numero de la casa del residente -->
        <label class="form-label" for="numcasa">Número de casa:</label>
        <input
          [(ngModel)]="condomino.houseNumber"
          autocomplete="off"
          class="inputDatosAltas form-control"
          id="numcasa"
          maxlength="10"
          minlength="10"
          name="muestraCondominonumcasa"
          placeholder="número de casa"
          required
          type="number"
        />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-5">
        <div class="div_file">
          <label for="inputTag" id="insert">
            Cambiar foto
            <i class="fa fa-2x fa-camera"></i>
            <!-- Cambio de imagenes -->
            <input
              (change)="changeImage($event)"
              accept="image/*"
              id="inputTag"
              required
              type="file"
            />
            <span id="imageName"></span>
          </label>
        </div>
        <img *ngIf="uri" [src]="uri" alt="" class="imagenUser" />
      </div>
      <div class="col-5 text-center">
        <!-- Cambio de estado de pago -->
        <div
          (click)="condomino.paidStatus = true"
          *ngIf="!condomino.paidStatus"
          class="cursor"
        >
          <!-- Cambia el estado a no pagado  -->
          <label class="form-label" for="noPagadoImg"> No Pagado</label>
          <img
            alt="no pagado"
            id="noPagadoImg"
            src="../../../assets/sadFace.png"
            width="160px"
          />
        </div>
        <!-- Cambia el estado a pagado  -->
        <div
          (click)="condomino.paidStatus = false"
          *ngIf="condomino.paidStatus"
          class="cursor"
        >
          <label class="form-label" for="pagoImg"> Pagado</label>
          <img
            alt="pago"
            id="pagoImg"
            src="../../../assets/happyFace.png"
            width="150px"
          />
        </div>
      </div>

      <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mx-auto">
          <button
            (click)="modify()"
            [disabled]="!isValidForm()"
            class="botonModificar btn btn-primary"
          >
            Modificar
          </button>
          <button (click)="delete()" class="botonEliminar btn btn-danger">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
