<div class="container text-center">
  <h1>Nuevo trabajador</h1>

  <form>
    <div class="row g-3 mt-3 justify-content-center align-items-center">
      <div class="col-6">
        <label class="form-label" for="tipo-trabajador"
          >Tipo de trabajador</label
        >
        <select
          [(ngModel)]="trabajador.type"
          aria-label=".form-select-lg example"
          class="form-select form-select-lg mb-3"
          id="tipo-trabajador"
          name="TipoTrabajador"
        >
          <option value="Trabajador diario">
            <h2>Trabajador diario</h2>
          </option>
          <option value="Trabajador servicio">
            <h2>Trabajador servicio</h2>
          </option>
        </select>
      </div>
      <div class="row g-2 mt-2 justify-content-center align-items-center busqueda-div">
        <div class="col-6">
          <!--Nombre condomino -->
          <label class="form-label" for="nombre_condomino"
            >Nombre del condómino</label>
          <!-- Input para ingresar el nombre del condomino -->
          <input
            (keyup)="findInquilinoByName()"
            [(ngModel)]="name"
            autocomplete="off"
            class="form-control"
            id="nombre_condomino"
            list="nombre_condominos"
            name="nombre_condomino"
            placeholder="Escriba aquí"
            required
            type="text"
          />
          <div *ngIf="condominos.length > 0" class="busqueda">
            <div *ngFor="let c of condominos">
              <div (click)="selectInquilino(c)" class="cursor">
                {{ c.user.name }}
              </div>
            </div>
          </div>
          <!--  -->
          <div *ngIf="error" class="alert-danger">
            Porfavor seleccione un inquilino
          </div>
          <!--  -->
        </div>
      </div>
      <div class="row g-2 mt-2 justify-content-center align-items-center">
        <div class="col-6">
          <!-- validacion de nombre del trabajador -->
          <label class="form-label" for="nombre-trabajador">Nombre</label>
          <!-- Input para ingresar nombre de trabajador -->
          <input
            #nombreTrabajador
            (keyup)="validaTrabajador(regexName, nombreTrabajador.value)"
            [(ngModel)]="trabajador.name"
            autocomplete="off"
            class="form-control"
            id="nombre-trabajador"
            name="nombre-trabajador"
            placeholder="Escriba aquí"
            required
            type="text"
          />
          <!--Alerta de datos -->
          <div
            *ngIf="!trabajadorName"
            class="alert alert-danger"
            id="alertName"
          >
            Favor de agregar solamente letras en este campo
          </div>
        </div>


      </div>

      <div class="row g-2 mt-2 justify-content-center align-items-center">
        <label class="form-label "
            >Dias de trabajo</label
          >
        <div class="col-6 ">

          <div class="d-flex flex-wrap">
            <span
               class="alert alert-primary"><input
                (click)="addDay('monday')"
                [checked]="hasDay('monday')"
                autocomplete="off"
                checked
                name="Lunes" type="checkbox"
                value="MONDAY"
            /> Lunes </span>
            <span
            class="alert alert-primary"><input
                (click)="addDay('tuesday')"
                [checked]="hasDay('tuesday')"
                name="Martes"
                type="checkbox"
                value="TUESDAY"
            /> Martes </span>
            <span
            class="alert alert-primary"><input
                (click)="addDay('wednesday')"
                [checked]="hasDay('wednesday')"
                name="Miercoles"
                type="checkbox"
                value="WEDNESDAY"
            /> Miercoles </span>
            <span
            class="alert alert-primary"><input
                (click)="addDay('thursday')"
                [checked]="hasDay('thursday')"
                name="Thursday"
                type="checkbox"
                value="THURSDAY"
            /> Jueves </span>
            <span
            class="alert alert-primary"><input
                (click)="addDay('friday')"
                [checked]="hasDay('friday')"
                name="Friday"
                type="checkbox"
                value="FRIDAY"
            /> Viernes </span>
            <span
            class="alert alert-primary"><input
                (click)="addDay('saturday')"
                [checked]="hasDay('saturday')"
                name="Saturday"
                type="checkbox"
                value="SATURDAY"
            /> Sadado </span>
            <span
            class="alert alert-primary" ><input
                (click)="addDay('sunday')"
                [checked]="hasDay('sunday')"
                name="Sunday"
                type="checkbox"
                value="SUNDAY"
            /> Domingo </span>
          </div>
        </div>
      </div>

      <div class="row g-2 mt-2 justify-content-center align-items-center">
        <div class="col-6">
          <!--Hora de llegada a residencial -->
          <label class="form-label" for="hora-llegada">Hora llegada</label>
          <input
            #hora="ngModel"
            [(ngModel)]="trabajador.schedule"
            autocomplete="off"
            class="form-control"
            id="hora-llegada"
            name="hora-llegada"
            placeholder="Escriba aquí"
            required
            type="time"
          />
        </div>
      </div>

      <div class="row g-2 mt-2 justify-content-center align-items-center">
        <div class="col-6">
          <label for="telefono-trabajador">Teléfono</label>
          <input
            #telefono
            (keyup)="validaTel(regexTel, telefono.value)"
            [(ngModel)]="trabajador.telephoneNumber"
            autocomplete="off"
            class="form-control"
            id="telefono-trabajador"
            name="telefono-trabajador"
            placeholder="Escriba aquí"
            required
            type="number"
          />
          <!--Alerta de datos -->
          <div *ngIf="!validacionTel" class="alert alert-danger" id="alertTel">
            Inserte el número de telefono de 7 a 14 digitos
          </div>
        </div>
      </div>
      <div class="row g-2 mt-6 mb-3 justify-content-center align-items-center">
        <div class="col-4 text-end">
          <button
            (click)="save()"
            [disabled]="!isValidForm()"
            class="boton btn btn-success btn-block"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
