<div class="container text-center">
  <h1>Nuevo trabajador</h1>

  <form>
    <div class="row g-3 mt-3 justify-content-center align-items-center">
      <div class="col-6">
        <label class="form-label" for="tipo-trabajador"
          >Tipo de trabajador</label
        >
        <select
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
          name="TipoTrabajador"
          id="tipo-trabajador"
          [(ngModel)]="trabajador.type"
        >
          <option value="Trabajador diario">
            <h2>Trabajador diario</h2>
          </option>
          <option value="Trabajador servicio">
            <h2>Trabajador servicio</h2>
          </option>
        </select>
      </div>
      <div class="row g-2 mt-2 justify-content-center align-items-center">
        <div class="col-6">
          <!-- validacion de nombre del trabajador -->
          <label class="form-label" for="nombre-trabajador">Nombre</label>
          <!-- Input para ingresar nombre de trabajador -->
          <input
            class="form-control"
            (keyup)="validaTrabajador(regexName, nombreTrabajador.value)"
            required
            #nombreTrabajador
            autocomplete="off"
            type="text"
            placeholder="Escriba aquí"
            name="nombre-trabajador"
            id="nombre-trabajador"
            [(ngModel)]="trabajador.name"
          />
          <!--Alerta de datos -->
          <div
            id="alertName"
            class="alert alert-danger"
            *ngIf="!trabajadorName"
          >
            Favor de agregar solamente letras en este campo
          </div>
        </div>
      </div>
      <div class="row g-2 mt-2 justify-content-center align-items-center">
        <div class="col-6">
          <!--Nombre condomino -->
          <label class="form-label" for="nombre-condomino"
            >Nombre del condómino</label
          >
          <!-- Input para ingresar el nombre del condomino -->
          <input
            class="form-control"
            required
            autocomplete="off"
            type="text"
            placeholder="Escriba aquí"
            name="nombre-condomino"
            id="nombre-condomino"
            list="nombre_condominos"
            (keyup)="findInquilinoByName()"
            [(ngModel)]="trabajador.condominoInfo.owner"
          />
          <div class="busqueda" *ngIf="condominos.length > 0">
            <div *ngFor="let c of condominos">
              <div (click)="selectInquilino(c)" class="cursor">
                {{ c.user.name }}
              </div>
            </div>
          </div>
          <!--  -->
          <div class="alert-danger" *ngIf="error">
            Porfavor seleccione un inquilino
          </div>
          <!--  -->
        </div>
      </div>

      <!-- <div class="row g-2 mt-2 justify-content-center align-items-center">
        <div class="col-6">
          <label class="form-label" for="nombre-condomino"
            >Dias de trabajo</label
          >
          <div class="d-flex flex-column">
            <span
              >Lunes<input
                type="checkbox"
                name="Lunes"
                [checked]="hasDay('monday')"
                value="MONDAY"
                (click)="addDay('monday')"
            /></span>
            <span
              >Martes<input
                type="checkbox"
                name="Martes"
                [checked]="hasDay('tuesday')"
                value="TUESDAY"
                (click)="addDay('tuesday')"
            /></span>
            <span
              >Miercoles<input
                type="checkbox"
                name="Miercoles"
                [checked]="hasDay('wednesday')"
                value="WEDNESDAY"
                (click)="addDay('wednesday')"
            /></span>
            <span
              >Jueves<input
                type="checkbox"
                name="Thursday"
                [checked]="hasDay('thursday')"
                value="THURSDAY"
                (click)="addDay('thursday')"
            /></span>
            <span
              >Viernes<input
                type="checkbox"
                name="Friday"
                [checked]="hasDay('friday')"
                value="FRIDAY"
                (click)="addDay('friday')"
            /></span>
            <span
              >Sadado<input
                (click)="addDay('saturday')"
                [checked]="hasDay('saturday')"
                name="Saturday"
                type="checkbox"
                value="SATURDAY"
            /></span>
            <span
              >Domingo<input
                (click)="addDay('sunday')"
                [checked]="hasDay('sunday')"
                name="Sunday"
                type="checkbox"
                value="SUNDAY"
            /></span>
          </div>
        </div>
      </div> -->

      <div class="row g-2 mt-2 justify-content-center align-items-center">
        <div class="col-6">
          <!--Hora de llegada a residencial -->
          <label class="form-label" for="hora-llegada">Hora llegada</label>
          <input
            class="form-control"
            #hora="ngModel"
            required
            autocomplete="off"
            type="time"
            placeholder="Escriba aquí"
            name="hora-llegada"
            id="hora-llegada"
            [(ngModel)]="trabajador.schedule"
          />
        </div>
      </div>

      <div class="row g-2 mt-2 justify-content-center align-items-center">
        <div class="col-6">
          <label for="telefono-trabajador">Teléfono</label>
          <input
            class="form-control"
            (keyup)="validaTel(regexTel, telefono.value)"
            #telefono
            required
            autocomplete="off"
            type="text"
            placeholder="Escriba aquí"
            name="telefono-trabajador"
            id="telefono-trabajador"
            [(ngModel)]="trabajador.telephoneNumber"
          />
          <!--Alerta de datos -->
          <div id="alertTel" class="alert alert-danger" *ngIf="!validacionTel">
            Inserte el número de telefono de 7 a 14 digitos
          </div>
        </div>
      </div>
      <div class="row g-2 mt-6 mb-3 justify-content-center align-items-center">
        <div class="col-4 text-end">
          <button
            class="boton btn btn-success btn-block"
            (click)="save()"
            [disabled]="!isValidForm()"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
