
.tarjetaT {
  max-width: auto;
  width: auto;
  border-radius: 5px;
  margin: 20px;
  margin-bottom:50px ;
  margin-top: 30px;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  height: 100% !important;
  max-width: auto;
  height: fit-content;
  padding: 20px;
}

/* estilo de botones */


.cursor:hover {
  cursor: pointer;
}

.pagination {
  padding: 14px;
  margin: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  border-radius: 5px;
}

.daysofweek{
  background: rgba(101, 238, 147, 0.5);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
