<div class="buttons">
  <span (click)="updatePage(p - 1)" *ngFor="let p of listOfPages" class="cursor pagination"
        [ngStyle]="{'color':'white','background-color':'#2A2A2A','text-align':'center'}">
    {{p}}
  </span>
</div>

<div class="container">
  <div class="titleDatos">
    <h2>Bitácora de trabajadores</h2>
  </div>
  <i *ngIf="isLoading" class="spinner-border"></i>
  <div *ngIf="!trabajadores.length">No hay trabajadores registrados</div>
  <div class="tarjetaT  p-2 text-white bg-dark  " *ngFor="let trabajador of trabajadores">
    <div class="row">
      <div class="col-5">
        <label class="form-label" for="nombre_trabajador">Nombre del trabajador</label>
        <input id="nombre_trabajador" required autocomplete="off" type="text" placeholder="Nombre de trabajador"
               class="inputBitacora form-control" name="buscaTrabajadorName"
               [(ngModel)]="trabajador.name">
      </div>
      <div class="col-5">
        <label class="form-label" for="hora_trabajador">Hora</label>
        <input id="hora_trabajador" required autocomplete="off" type="time" placeholder="Hora"
               class="inputBitacora form-control" name="buscaTrabajadorHoras"
               [(ngModel)]="trabajador.schedule">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-5">
        <label class="form-label" for="dia_trabajador">Dias de trabajo</label>
        <div class="d-flex flex-wrap">
        <span *ngFor="let day of trabajador.workDays"
              id="dia_trabajador"
              class="inputBitacora daysofweek">
                  {{day.dayName | day}}
                </span>
              </div>
      </div>
      <div class="col-5">
        <label class="form-label" for="condomino_trabajador">Nombre del Condómino</label>
        <input id="condomino_trabajador" required autocomplete="off" type="text"
               placeholder="Nombre del Condómino"
               class="inputBitacora form-control" name="buscaNameCondomino"
               disabled
               [value]="trabajador.condominoInfo.owner">
      </div>
    </div>
    <div class="row align-items-end mt-3  justify-content-end text-end">
      <div class="col-4">
        <button class="botonEliminar btn btn-block btn-danger" (click)="delete(trabajador.id)">Eliminar</button>
      </div>
      <div class="col-4 justify-content-end">

        <button class="botonModificar btn btn-block btn-primary"
                [routerLink]="['/registrar_trabajador', trabajador.id]">
          Modificar
        </button>
      </div>
    </div>

  </div>
</div>
