

<div class="contenido">
    <div class="Datos"> 
        Tipo visita
        <input type="text" class="barra" name="asdasd"></div>
    <div class="Titulo_1">
    <h1> DATOS DEL VISITANTES </h1> 
    </div>
    <div class="Datos">
        <div>Nombre <br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Tipo de Vehículo<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Tarjetón<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Placas<br>
            <input type="text" class="barra" name="asdasd">
        </div>
    </div>
    <div class="Titulo_1">
    <h1>DATOS DEL CONDOMINO</h1> 
    </div>
    <div class="Datos">
        <div>Nombre <br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Calle<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Numero de la Casa<br>
            <input type="text" class="barra" name="asdasd">
        </div>
    </div>
    <div class="Titulo_1">
        <h1>DATOS GENERALES</h1>
    </div>
    <div class="Datos">
        <div>Fecha<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Hora<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Autorizado por<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Caseta<br>
            <input type="text" class="barra" name="asdasd">
        </div>
    </div>
    
</div>