

<div class="contenido">
    <div class="DatosTipo"> 
        Tipo de visita
        <select class="Opciones" name="TipoVisita" id="Visita">
            <option value="Visitantes">Visitantes</option>
            <option value="Provedor">Provedor</option>
        </select>
        </div>
    <div class="Titulo_1">
    <h1> DATOS DEL VISITANTES </h1> 
    </div>
    <div class="Datos">
        <div>Nombre <br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Tipo de Vehículo <input class="BotonVehiculo" type="checkbox" name="Vehiculo"><br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Tarjetón<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Placas<br>
            <input type="text" class="barra" name="asdasd">
        </div>
    </div>
    <div class="Titulo_1">
    <h1>DATOS DEL CONDOMINO</h1> 
    </div>
    <div class="Datos">
        <div>Nombre <br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Calle<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Numero de la Casa<br>
            <input type="text" class="barra" name="asdasd">
        </div>
    </div>
    <div class="Titulo_1">
        <h1>DATOS GENERALES</h1>
    </div>
    <div class="Datos">
        <div>Fecha<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Hora<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Autorizado por<br>
            <input type="text" class="barra" name="asdasd">
        </div>
        <div>Caseta<br>
            <select class="Opciones" name="Caseta" id="Caseta">
                <option value="Caseta 1">Caseta 1</option>
                <option value="Caseta 2">Caseta 2</option>
            </select>
        </div>
    </div>
    <div class="BotDiv">
        <button class="boton">Entrar</button>
    </div>
</div>
