<div class="contenido">
  <h1>Nuevo trabajador</h1>
  <!-- formulario de datos -->
  <form>
    <div class="input">
      <label for="tipo-trabajador">Tipo de trabajador</label>
      <select
        class="Opciones"
        name="TipoTrabajador"
        id="tipo-trabajador"
        [(ngModel)]="trabajador.tipo"
      >
        <option value="Trabajador diario"><h2>Trabajador diario</h2></option>
        <option value="Trabajador servicio">
          <h2>Trabajador servicio</h2>
        </option>
      </select>
    </div>
    <div class="input">
      <label for="nombre-trabajador">Nombre</label>
      <input
        required
        autocomplete="off"
        type="text"
        placeholder="Escriba aqui"
        name="nombre-trabajador"
        id="nombre-trabajador"
        [(ngModel)]="trabajador.nombreTrabajador"
        pattern="^[A-Za-zÀ-ÿ ,.'-]+$"
        title="Favor de agregar solamente letras en este campo"
      />
      <!-- REGEX Validacion nombre -->
    </div>
    <div class="input">
      <label for="nombre-condomino">Nombre del condómino</label>
      <input
        required
        autocomplete="off"
        type="text"
        placeholder="Escriba aqui"
        name="nombre-condomino"
        id="nombre-condomino"
        (keyup)="findInquilinoByName()"
        [(ngModel)]="name"
      />
    </div>
    <div *ngFor="let c of condominos">
      <div (click)="selectInquilino(c)" class="cursor">{{ c.name }}</div>
    </div>
    <div class="input">
      <label for="dias-trabajo">Días de trabajo</label>
      <input
        required
        autocomplete="off"
        type="text"
        placeholder="Escriba aqui"
        name="dias-trabajo"
        id="dias-trabajo"
        [(ngModel)]="trabajador.diasTrabajo"
      />
    </div>
    <div class="input">
      <label for="hora-llegada">Hora llegada</label>
      <input
        required
        autocomplete="off"
        type="time"
        placeholder="Escriba aqui"
        name="hora-llegada"
        id="hora-llegada"
        [(ngModel)]="trabajador.horario"
      />
    </div>
    <!-- validacion y formulario de numero de telefono -->
    <div class="input">
      <label for="telefono-trabajador">Teléfono</label>
      <input
        (keydown)="validaTel(trabajador.telefono)" 
        required
        autocomplete="off"
        type="text"
        placeholder="Escriba aqui"
        name="telefono-trabajador"
        id="telefono-trabajador"
        [(ngModel)]="trabajador.telefono"
      />
      <div id="alertTel" class="hiddenAlert">Inserte solamente número en este campo</div>
    </div>
    <!--  -->
    <button class="boton" (click)="save()" [disabled]="!isValidForm()">Guardar</button>
  </form>
</div>
