<div class="contenido">
  <h1>
    Nuevo trabajador
  </h1>
  <form>
    <div class="input">
      <label for="tipo-trabajador">Tipo de trabajador</label>
      <select class="Opciones" name="TipoTrabajador" id="tipo-trabajador" [(ngModel)]="trabajador.tipo">
        <option value="Trabajador diario"><h2>Trabajador diario</h2></option>
        <option value="Trabajador servicio"><h2>Trabajador servicio</h2></option>
      </select>
    </div>
    <div class="input">
      <label for="nombre-trabajador">Nombre</label>
      <input autocomplete="off" type="text" placeholder="Escriba aqui" name="nombre-trabajador" id="nombre-trabajador"
             [(ngModel)]="trabajador.nombreTrabajador">
    </div>
    <div class="input">
      <label for="nombre-condomino">Nombre del condomino</label>
      <input autocomplete="off" type="text" placeholder="Escriba aqui" name="nombre-condomino" id="nombre-condomino"
             [(ngModel)]="trabajador.nombreCondomino">
    </div>
    <div class="input">
      <label for="dias-trabajo">Dias de trabajo</label>
      <input autocomplete="off" type="text" placeholder="Escriba aqui" name="dias-trabajo" id="dias-trabajo"
             [(ngModel)]="trabajador.diasTrabajo">
    </div>
    <div class="input">
      <label for="hora-llegada">Hora llegada</label>
      <input autocomplete="off" type="time" placeholder="Escriba aqui" name="hora-llegada" id="hora-llegada"
             [(ngModel)]="trabajador.horario">
    </div>
    <div class="input">
      <label for="telefono-trabajador">Telefono</label>
      <input autocomplete="off" type="text" placeholder="Escriba aqui" name="telefono-trabajador"
             id="telefono-trabajador"
             [(ngModel)]="trabajador.telefono">
    </div>
  </form>
  <button class="boton" (click)="save()">Guardar</button>
</div>
