/* blur */

.container {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 5px;
    height: 100% !important;
    max-width: auto;
    height: fit-content;
    margin-top: 20px;
    padding: 10px;
  }

/* estilo para el contenedor bitacoras */

.tarjetaT{
    max-width: auto;
    width: auto;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 50px;
    
  }
  



/* flexbox para barra de busqueda */


button{
  
    border-radius: 5px;
    margin: 20px;
  }




/* estilo a bitacora de trabajadores */

.titleDatos {
    
    
    margin: 20px;
   
}




/* estilo de botones */


.cursor:hover {
    cursor: pointer;
  }
.pagination {
    padding: 14px;
    margin: 5px;
  }
