<div class="buttons">
  <span (click)="updatePage(p - 1)" *ngFor="let p of listOfPages" class="cursor pagination"
        [ngStyle]="{'color':'white','background-color':'#2A2A2A','text-align':'center'}">
    {{p + 1}}
  </span>
</div>

<!-- contenedor de inquinos -->
<div class="container">

  <div *ngIf="visitantes.length <= 0">
   <h3> No hay visitas registradas </h3>
  </div>


  <!-- contenedor para flexbox -->
  <div class="titleDatos">
    <h2>Datos Agenda</h2>
  </div>
  <div *ngFor="let visitante of visitantes">
    <i *ngIf="isLoading " class="spinner-border"></i>
    <div class="tarjetaT mt-3 p-2 text-white bg-dark ">
      <div class="row">
        <div class="col-5">
          <label class="form-label" for="buscaSalidaName">Nombre:</label>
          <input required type="text" placeholder="Nombre" class="inputAgendados form-control" id="buscaSalidaName" name="buscaSalidaName"
          [(ngModel)]="visitante.name" disabled>
 
        </div>
        <div class="col-5">
          <label class="form-label" for="buscaHorasEntrada">Fecha:</label>
          <input required type="date" placeholder="Fecha agendada" class="inputAgendados form-control" id="buscaHorasEntrada" name="buscaHorasEntrada"
          [(ngModel)]="visitante.arrivalDate" disabled>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <label class="form-label" for="buscaHorasSalida">Hora:</label>
          <input required disabled type="text" placeholder="Hora" class="inputAgendados form-control" id="buscaHorasSalida" name="buscaHorasSalida"
               [(ngModel)]="checkIn" >
        </div>

        <div class="col-5">
          <label class="form-label" for="Caseta">Caseta:</label>
          <select class="inputAgendados form-control" name="Caseta" id="Caseta" [(ngModel)]="visitante.arrivalBooth" >
            <option value="Caseta 1">
              <h3>Caseta 1</h3>
            </option>
            <option value="Caseta 2">
              <h3>Caseta 2</h3>
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="botonModificar btn btn-primary" (click)="modify(visitante)">Registro</button>
        </div>
      </div>
    </div>
    
  
  </div>

</div>
