<div class="container">
    <div class="tarjet row border border-dark border-4 rounded">
        <h2>Reportes</h2>
        <div class="col">
            <label class="form-label" for="buscaPagosName">Busqueda de inquilino: </label>
            <input required autocomplete="off" id="buscaPagosName" type="text" placeholder="Buscar Inquilino"
                class="inputBarra form-control" name="buscaPagosName " (keyup)="findInquilinoByName()" [(ngModel)]="name">
        </div>
        <div class="busqueda" *ngIf="condominos.length > 0">
            <div *ngFor="let c of condominos">
              <div (click)="selectInquilino(c)" class="cursorb">{{ c.user.name }}</div>
            </div>
          </div>

        <!--<div class="row mt-3">
            <div class="col-5">
                <label class="form-label" for="periodoDate">Perido de: </label>
                <input required autocomplete="off" type="date" placeholder="DD/MM/AAAA" id="periodoDate"
                    class="Periodo form-control" name="periodoDate">

            </div>
            <div class="col-5">
                <label class="form-label" for="periodoDate">Hasta: </label>
                <input required autocomplete="off" type="date" placeholder="DD/MM/AAAA" id="periodoDate"
                    class="Periodo form-control" name="periodoDate">

            </div>
        </div>

        <div class="row">
            
            <div class="d-grid gap-2  d-md-flex justify-content-md-end mx-auto">
                <button class="boton btn btn-primary ">Buscar</button>
            </div>
        </div>-->

    </div>

    <div class="tarjet row border border-dark border-4 a " *ngIf="condomino.id" >
        <div class="col-4">
            <img [src]="uri" alt="" class="imagenUser" *ngIf="uri">
            
        </div>
        <div class="col-4  align-self-center ">
            
            <label class="form-label" for="busquedaInquilino">Nombre:</label>
            <input required autocomplete="off" type="text" class="inputBarraInquilino form-control" id="busquedaInquilino" name="busquedaInquilino"
                   [(ngModel)]="condomino.user.name" readonly="readonly" disabled>
            
        </div>
        
        <div class="col-4 align-self-center">
            <button class="boton btn btn-primary " (click)="printReport()">Descargar</button>
        </div>
    </div>
</div>