<nav class="MenuBar">
  <nav class="izquierda">

    <a routerLink="registro-paq">Paqueterias</a> <!---->
    <a routerLink="trabajador">Trabajador</a> <!---->
    <a routerLink="altas">Altas</a> <!---->
    <a routerLink="registro-a">Registro</a>
    <a routerLink="pagos">pagos</a>
    <a routerLink="modificaciones">Modificaciones</a>
    <a routerLink="entregar-paq">entregar-paq</a>
    <a routerLink="bajas">Bajas</a>
    <a routerLink="agenda-cond">agenda-cond</a>

  </nav>
  <nav class="derecha">
    <a routerLink="visita-c">Visitas</a>
    <a routerLink="visita-a-g">Visitas2</a>
    <a routerLink="salida">Salidas</a>
    <a routerLink="informes">informes</a>
  </nav>
</nav>
