.derecha{
    width: 20%;
    margin-top: 15px;
}

.izquierda{
    margin-top: 15px;
}

.derecha a{
    border: 1px solid #ffffff; /*anchura, estilo y color borde*/
    padding: 5px; /*espacio alrededor texto*/
    background-color: #000000; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 10px; /*bordes redondos*/
    margin: 5px;
    
    
}

.derecha a:hover , .izquierda a:hover{
    color: #000000; /*color texto*/
    border: 1px solid #000000; /*anchura, estilo y color borde*/
    background-color: #ffffff; /*color botón*/
}



.izquierda a{
    border: 1px solid #ffffff; /*anchura, estilo y color borde*/
    padding: 5px; /*espacio alrededor texto*/
    margin: 5px;
    background-color: #000000; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 10px; /*bordes redondos*/
    
    
}

.MenuBar{
    display: flex;
    height: 50px;
    max-width: 100%;
    border-bottom: 3px solid;
    color: black;
    background-color: #000000;
}