<nav class="MenuBar">
  <nav class="izquierda">

    <a routerLink="registro-paq">Paqueterias</a> <!---->
    <a routerLink="trabajador">Trabajador</a> <!---->
    <a routerLink="altas-mod">Altas</a> <!---->
    <a routerLink="registro-a">Registro</a>
    <!--<a routerLink="pagos">pagos</a> -->
    <a routerLink="modificaciones">Modificaciones</a>
    <a routerLink="entregar-paq">entregar-paq</a>
    <a routerLink="bajas">Bajas</a>

  </nav>
  <nav class="derecha">
    <a routerLink="visita-a-g">Visitas</a>
    <a routerLink="salida">Salidas</a>
  </nav>
</nav>
