<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <!-- Paqueteria -->
        <li class="nav-item dropdown" *ngIf="hasRoles(['ROLE_ADMIN', 'ROLE_GUARD'])">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Paqueteria
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="entregar-paq">Entregar</a></li>
            <li><a class="dropdown-item" routerLink="registro-paq">Registrar</a></li>
          </ul>
        </li>
        <!-- Trabajadores -->
        <li class="nav-item dropdown" *ngIf="hasRoles(['ROLE_ADMIN'])">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Trabajadores
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="lista_trabajadores">Lista</a></li>
            <li><a class="dropdown-item" routerLink="registrar_trabajador">Registrar</a></li>
          </ul>
        </li>
        <!-- Condomino -->
        <li class="nav-item dropdown" *ngIf="hasRoles(['ROLE_ADMIN', 'ROLE_GUARD', 'ROLE_RESIDENT'])">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Condomino
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li *ngIf="hasRoles(['ROLE_RESIDENT'])"><a class="dropdown-item" routerLink="agendar_visita_condomino">Agendar
              Visitas</a></li>
            <li *ngIf="hasRoles(['ROLE_ADMIN'])"><a class="dropdown-item" routerLink="registrar_condomino">Registrar
              Condomino</a></li>
            <li *ngIf="hasRoles(['ROLE_ADMIN', 'ROLE_RESIDENT'])"><a class="dropdown-item" routerLink="visitas_agendadas">Visitas
              Agendadas</a></li>
            <li *ngIf="hasRoles(['ROLE_ADMIN'])"><a class="dropdown-item" routerLink="modificacion_condomino">Modificación
              de Condominos</a></li>
            <li *ngIf="hasRoles(['ROLE_ADMIN','ROLE_GUARD'])"><a class="dropdown-item" routerLink="registrar_visitas">Registrar
              Visitas</a></li>
            <li *ngIf="hasRoles(['ROLE_ADMIN','ROLE_GUARD'])"><a class="dropdown-item" routerLink="registrar_salida">Registrar
              Salida</a></li>
            <li *ngIf="hasRoles(['ROLE_ADMIN'])"><a class="dropdown-item" routerLink="reportes">Reportes</a></li>
            <li *ngIf="hasRoles(['ROLE_ADMIN','ROLE_GUARD'])"><a class="dropdown-item" routerLink="visitas_registradas">Visitas
              Registradas</a></li>
          </ul>
          <
        </li>
        <
          <li *ngIf="hasRoles(['ROLE_ADMIN'])">
            <a class="nav-link" routerLink="registrar_guardia" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Registrar Guardia
            </a>
          </li>
        <li *ngIf="hasRoles(['ROLE_ADMIN'])">
          <a class="nav-link" routerLink="usuarios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
