<div class="cuadro">
    <div class="sec_azul">
        <div class="titulo"></div>
    </div>
    <div class="sec_osc">
        <div class="img"></div>
        <div class="container">
            <div class="img_2"></div>
            
            <input type="text" class="barra" name="asdasd">
        </div>
        <div class="container">
            <div class="img_3"></div>
            
            <input type="password" class="barra">
        </div>
        
        <button class="boton">Entrar</button>
        <div class="pie">Av. Parque Chapultepec 1050
            <br>
            Colinas del Parque
            <br>
            78260 San Luis, S.L.P.
        </div>
    </div>
</div>