<!-- contenedor de inquinos -->
<div class="contenido">
  <div class="containerInquilinos">
    <!-- contenedor de titulo contenedor -->
    <div class="title1">
      <h1>INQUILINOS</h1>
    </div>
    <!-- titulo de seccion-->
    <div class="infoTxt">
      <h2>BÚSQUEDA DE INQUILINO</h2>
    </div>
    <!-- form de nombre -->
    <div class="nombre">
      <h3>Nombre<br><br></h3>
      <input required type="text" placeholder="Buscar Inquilino" class="inputBarra" name="buscaPagosName" [(ngModel)]="name">
    </div>
    <!-- form de telefono -->
    <div class="telefono">
      <h3>Número de telefono<br><br></h3>
      <input required type="text" placeholder="Buscar por número de telefono" class="inputBarra" name="buscaPagosTel"
             [(ngModel)]="phone">
    </div>
    <!-- boton para enviar datos del formulario y realizar busqueda-->
    <div class="button">
      <button class="boton" (click)="findInquilino()">Buscar</button>
    </div>
  </div>
  <!-- contenedor datos de inquilino -->
  <div class="containerDatos">
    <!-- contenedor de titulo contenedor -->
    <div class="title2">
      <h1>DATOS DEL CONDÓMINO</h1>
    </div>
    <!-- form de nombre -->
    <div class="nombreDatos">
      <h3>Nombre:<br><br></h3>
      <input required type="text" placeholder="Buscar Inquilino" class="inputDatos" name="muestraPagosName"
             [(ngModel)]="condomino.nombre">
    </div>
    <!-- Imagen de programa -->
    <div class="imagenUser">
      <img src="https://www.pngmart.com/files/21/Account-User-PNG-Photo.png" alt="user" id="userImg" width="200px">
    </div>
    <!-- form de correo -->
    <div class="correoDatos">
      <h3>Correo Electrónico:<br><br></h3>
      <input required type="text" placeholder="Correo Electrónico" class="inputDatos" name="muestraPagosCorreo"
             [(ngModel)]="condomino.correoElectronico">
    </div>
    <!-- form de direccion -->
    <div class="direccionDatos">
      <h3>Dirección:<br><br></h3>
      <input required type="text" placeholder="Dirección" class="inputDatos" name="muestraPagosDireccion"
             [(ngModel)]="condomino.direccion">
    </div>
    <!-- form de telefono-->
    <div class="telefonoDatos">
      <h3>Teléfono:<br><br></h3>
      <input required type="text" placeholder="Teléfono" class="inputDatos" name="muestraPagosTelefono"
             [(ngModel)]="condomino.numeroTelefono">
    </div>
    <!-- form de numero emergencia -->
    <div class="emergenciaDatos">
      <h3>Número de emergencia:<br><br></h3>
      <input required type="text" placeholder="Teléfono de emergencia" class="inputDatos" name="muestraPagosEmergencia"
             [(ngModel)]="condomino.numeroEmergencia">
    </div>
    <!-- boton modificar -->
    <div class="buttonModificar">
      <button class="botonModificar" (click)="modify()">Modificar</button>
    </div>
    <!-- boton eliminar -->
    <div class="buttonEliminar">
      <button class="botonEliminar" (click)="delete()">Eliminar</button>
    </div>
    <!-- Estado de pago -->
    <div class="estadoPago">
      <h3>Pago:<br><br></h3>
      <img src="../../../assets/happyFace.png" alt="pago" id="pagoImg" width="150px"> <br><br><br>
      <h3>Pagado<br><br></h3>
    </div>
  </div>
</div>
