<div class="container">
  <div class="tarjet row border border-dark border-4 rounded">
    <h2>Inquilino</h2>
    <div class="col">
      <label class="form-label" for="buscaPagosName">Busqueda de inquilino: </label>
      <input id="buscaPagosName" required type="text" placeholder="Buscar Inquilino" class="inputBarra form-control"
             name="buscaPagosName" autocomplete="off"
             (keyup)="findInquilinoByName()" [(ngModel)]="name">
      <div class="busqueda" *ngIf="condominos.length > 0">
        <div *ngFor="let c of condominos">
          <div (click)="selectInquilino(c)" class="cursorb">{{ c.name }}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="tarjet row border border-dark border-4 rounded" *ngIf="condomino.id">
    <h1>Datos del condómino</h1>
    <div class="row">
      <div class="col-5">
        <label class="form-label" for="muestraPagosName">Nombre: </label>
        <input required autocomplete="off" type="text" placeholder="Buscar Inquilino" class="inputDatos form-control"
               id="muestraPagosName" name="muestraPagosName"
               [(ngModel)]="condomino.name">
      </div>
      <div class="col-5">
        <label class="form-label" for="muestraPagosTelefono">Teléfono:</label>
        <input required autocomplete="off" type="text" placeholder="Teléfono" class="inputDatos form-control"
               name="muestraPagosTelefono"
               [(ngModel)]="condomino.numeroTelefono">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-5">
        <label class="form-label" for="muestraPagosDireccion">Calle:</label>
        <input required autocomplete="off" type="text" placeholder="Dirección" class="inputDatos form-control"
               name="muestraPagosDireccion"
               [(ngModel)]="condomino.calle">
      </div>
      <div class="col-5">
        <label class="form-label" for="muestraPagosCorreo">Correo Electrónico:</label>
        <input required autocomplete="off" type="text" placeholder="Correo Electrónico" class="inputDatos form-control"
               id="muestraPagosCorreo" name="muestraPagosCorreo"
               [(ngModel)]="condomino.correoElectronico">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-5">
        <label class="form-label" for="muestraPagosEmergencia">Numero de emergencia:</label>
        <input required autocomplete="off" type="text" placeholder="Teléfono de emergencia"
               class="inputDatos form-control" id="muestraPagosEmergencia" name="muestraPagosEmergencia"
               [(ngModel)]="condomino.numeroEmergencia">
      </div>
      <div class="col-5">
        <label class="form-label" for="numcasa">Numero de casa:</label>
        <input required autocomplete="off" type="number" minlength="10" maxlength="10" placeholder="Numero de casa"
               class="inputDatosAltas form-control" id="numcasa" name="muestraCondominonumcasa"
               [(ngModel)]="condomino.numeroCasa"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-5">
        <div class="div_file">
          <label id="insert" for="inputTag">
            Cambiar foto
            <i class="fa fa-2x fa-camera"></i>
            <input id="inputTag" type="file" (change)="changeImage($event)" accept="image/*" required/>
            <span id="imageName"></span>
          </label>

        </div>

      </div>
      <div class="col-5 text-center">
        <div *ngIf="!condomino.estadoPago" (click)="condomino.estadoPago = 1" class="cursor">
          <label class="form-label" for="noPagadoImg"> No Pagado</label>
          <img src="../../../assets/sadFace.png" alt="no pagado" id="noPagadoImg" width="160px"/>

        </div>
        <div *ngIf="condomino.estadoPago" (click)="condomino.estadoPago = 0" class="cursor">
          <label class="form-label" for="pagoImg"> Pagado</label>
          <img src="../../../assets/happyFace.png" alt="pago" id="pagoImg" width="150px"/>
        </div>

      </div>

      <div class="row fila3">
        <div class="col-6 text-center">
          <img [src]="uri" alt="" class="imagenUser" *ngIf="uri">
        </div>
        <div class="col-3">
          <button class="botonModificar btn btn-primary btn-block" (click)="modify()">Modificar</button>
        </div>
        <div class="col-3">
          <button class="botonEliminar btn btn-danger btn-block" (click)="delete()">Eliminar</button>
        </div>
      </div>
    </div>

  </div>
</div>
