/* titulos */

.title1 {
    position: relative;
    top: -40px;
    left: -30px;
}

.title2 {
    position: relative;
    top: -50px;
    left: -30px;
}


/* blur */

.contenido {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    height: 900px;
    /*width: 1170px;*/
}


/* Contenedores principales */

.containerInquilinos {
    position: relative;
    width: 1000px;
    height: 300px;
    border-style: solid;
    background-color: #d3f5c5;
    top: 100px;
    opacity: 0.9;
}


.containerDescargar {
    position: relative;
    width: 1000px;
    height: 200px;
    border-style: solid;
    background-color: #d3f5c5;
    top: 130px;
    opacity: 0.8;
}



/* Titulo seccion */

.infoTxt {
    position: relative;
    font-size: 20px;
    left: -320px;
    top: -25px;
    width: 324px;
}


/* titulo de barra de busqueda nombre */

.nombre {
    position: relative;
    font-size: 20px;
    top: -20px;
    left: -170px;
    width: 600px;
}


/* titulo de barra de busqueda titulo */

.telefono {
    position: relative;
    font-size: 20px;
    top: -35px;
    left: -170px;
    width: 600px;
}








/* Titulo seccion */

.infoTxt {
    position: relative;
    font-size: 20px;
    left: -320px;
    top: -25px;
    width: 324px;
}


/* formatode estilo de la barra de los forms */

.inputBarra {
    position: relative;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    border: 6px solid rgb(211, 245, 197);
    border-radius: 10px;
    top: -15px;
    left: 10px;
    outline: 0px;
}





/* Fechas de entrada y salida */

.periodoTxt {
    position: absolute;
    left: 30px;
    top: 200px;
    font-size: 20px;
}

.hastaTxt {
    position: absolute;
    left: 200px;
    top: 200px;
    font-size: 20px;
}





/* dise;o del boton */

.boton {
    position: absolute;
    left: 620px;
    top: 130px;
    height: 50px;
    width: 200px;
    background-color: rgb(110, 148, 221);
    color: white;
    border-radius: 40px;
    font-size: 28px;
}


/* Imagen de usuario */

.imagenUser {
    position: relative;
    left: 20px;
    padding-top: 8px;
    padding-bottom: 20px;
}

.nombreBar {
    position: absolute;
    left: 230px;
    top: 50px;
}

.inputBarraInquilino {
    width: 450px;
    top: 100px;
    font-size: 19px;
}

.buttonDescarga {
    position: absolute;
    left: 130px;
    top: -50px;
    width: 600px;
}