<div *ngIf="user">
  <app-encabezado [user]="user"></app-encabezado>
  <app-menu-global></app-menu-global>
  <router-outlet></router-outlet>
  <app-pie-pagina></app-pie-pagina>
</div>

<form class="contenido" *ngIf="failedLogin">
  <div class="cuadro">
    <div class="sec_azul">
      <div class="titulo"></div>
    </div>
    <div class="sec_osc">
      <div class="img"></div>
      <div class="container">
        <div class="img_2"></div>

        <input type="text" class="barra" placeholder="Ingresa Usuario" #user required>
      </div>
      <div class="container">
        <div class="img_3"></div>

        <input type="password" class="barra" placeholder="Contraseña" #password required>
      </div>

      <button class="boton" (click)="apiLogin(user.value, password.value)">Entrar</button>
      <div class="pie">Av. Parque Chapultepec 1050
        <br>
        Colinas del Parque
        <br>
        78260 San Luis, S.L.P.
      </div>
    </div>
  </div>
</form>
