<h1>INICIO</h1>
<nav>
    <a routerLink="/login">LOG-IN</a>
    <br>
    <a routerLink="/visita-a-g">Registro de visitas (guardia/administrador)</a>
    <br>
    <a routerLink="/visita-c">Registro de visitas (condomino)</a>
    <br>
    <a routerLink="/trabajador-s">Trabajador servicio</a>
    <br>
    <a routerLink="/trabajador">Trabajador</a>
    <br>
    <a routerLink="/salida">Registrar Salida</a>
    <br>
    <a routerLink="/registro-paq">Registrar Paqueteria</a>
    <br>
    <a routerLink="/registro-a">Registrar Agenda</a>
    <br>
    <a routerLink="/pagos">Pagos</a>
    <br>
    <a routerLink="/informes">Informes</a>
    <br>
    <a routerLink="/entregar-paq">Entregar Paqueteria</a>
    <br>
    <a routerLink="/bitacora-tra">Bitacora Trabajadores</a>
    <br>
    <a routerLink="/bajas">Bajas</a>
    <br>
    <a routerLink="/altas-mod">Altas/Modificaciones</a>
    <br>
    <a routerLink="/agenda-cond">Agenda Condomino</a>
</nav>

<router-outlet></router-outlet>