<app-encabezado></app-encabezado>
<!-- contenedor de inquinos -->
<div class="contenido">
    <!-- contenedor para flexbox -->
    <div class="AgendaBusqueda">
        <!-- buscar visitante -->
        <div class="buscaAgendado">
           <h3>Buscar:</h3>
            <input type="text" placeholder="Buscar" class="inputBuscar" name="buscaSalida">
        </div>

    <!-- Datos del Visitante-->
    <div class="bitacoraDatos">
        <!-- titulo contenedor -->
        <div class="titleDatos">
            <h2>Datos Agenda</h2>
        </div>
        <!-- form de nombre -->
        <div class="nombreVisitante">
            <h3>Nombre:</h3>
            <input type="text" placeholder="Nombre" class="inputAgendados" name="buscaSalidaName">
        </div>
        <!-- form de hora de entrada-->
        <div class="Fecha">
            <h3>Fecha </h3>
            <input type="date" placeholder="Fecha agendada" class= "inputAgendados" name= "buscaHorasEntrada">
        </div>
        <!-- form de hora de salida-->
        <div class="horaLlegada">
            <h3>Hora</h3>
            <input type="time" placeholder="Hora" class="inputAgendados" name="buscaHorasSalida">
        </div>
        <!-- form de Caseta-->
        <div class="Caseta">
            <h3>Caseta</h3>
                <select class="inputAgendados" name="Caseta" id="Caseta">
                    <option value="Caseta 1"><h3>Caseta 1</h3></option>
                    <option value="Caseta 2"><h3>Caseta 2</h3></option>
                </select>
        </div>
        <!-- boton para enviar datos del eliminar y realizar registro de la salida-->
        <div class="botonesRegistro">
            <!-- boton Guardar -->
            <div class="buttonRegistro">
                <button class="botonRegistro">Registro</button>
            </div>
            <!-- boton eliminar -->
            <div class="buttonEliminar">
                <button class="botonEliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<app-pie-pagina></app-pie-pagina>