<!-- contenedor de inquinos -->
<div class="contenido">
    <!-- contenedor modificar condomino-->
    <div class="containerModificar">
      <!-- contenedor de titulo contenedor -->
      <div class="title">
        <h1>ALTA DE CONDÓMINO</h1>
      </div>
      <form (ngSubmit)="save()">
        <!-- Imagen de programa -->
        <div class="imagenUser">
          <h3>Foto del condómino<br><br></h3>
          <img src="https://www.pngmart.com/files/21/Account-User-PNG-Photo.png" alt="user" id="userImg" width="200px">
        </div>
        <!-- form de nombre -->
        <div class="nombreDatos">
          <h3>Nombre:<br><br></h3>
          <input required type="text" placeholder="Nombre Inquilino" class="inputDatosAltas" name="muestraCondominoName"
                 [(ngModel)]="condomino.nombre">
        </div>
        <!-- form de direccion -->
        <div class="direccionDatos">
          <h3>Dirección:<br><br></h3>
          <input required type="text" placeholder="Direccion" class="inputDatosAltas" name="muestraCondominoDireccion"
                 [(ngModel)]="condomino.direccion">
        </div>
        <!-- form de numero emergencia -->
        <div class="emergenciaDatos">
          <h3>Número de emergencia:<br><br></h3>
          <input required type="text" minlength="10" maxlength="10" placeholder="Telefono de emergencia" class="inputDatosAltas"
                 name="muestraCondominoEmergencia"
                 [(ngModel)]="condomino.numeroEmergencia">
        </div>
        <!-- form de telefono-->
        <div class="telefonoDatos">
          <h3>Teléfono:<br><br></h3>
          <input  required type="number" minlength="10" maxlength="10" placeholder="Telefono" class="inputDatosAltas"
                 name="muestraCondominoTelefono"
                 [(ngModel)]="condomino.numeroTelefono">
        </div>
        <!-- form de correo -->
        <div class="correoDatos">
          <h3>Correo Electrónico:<br><br></h3>
          <input required type="email" pattern="[^ @]*@[^ @]*" placeholder="Correo electronico" class="inputDatosAltas"
                 name="muestraCondominoCorreo"
                 [(ngModel)]="condomino.correoElectronico">
        </div>
        <div class="numcasaDatos">
          <h3>Número casa:<br><br></h3>
          <input  required type="number" minlength="10" maxlength="10" placeholder="Numero de casa" class="inputDatosAltas"
                 name="muestraCondominonumcasa"
                 [(ngModel)]="condomino.numeroCasa">
        </div>
        <!-- boton guardar -->
        <button class="botonGuardar" type="submit">Guardar</button>
      </form>
      <!-- Estado de pago -->
      <div class="estadoPago">
        <h3>Estado de pago:<br><br></h3>
        <div class="imgPagado">
          <img src="../../../assets/happyFace.png" alt="pagado" id="pagadoImg" width="150px"> <br><br><br>
          <h3>Pagado<br><br></h3>
        </div>
        <div class="imgNoPagado">
          <img src="../../../assets/sadFace.png" alt="no pagado" id="noPagadoImg" width="160px"> <br><br><br>
          <h3>No pagado<br><br></h3>
        </div>
      </div>
    </div>
  </div>
  