<div class="buttons">
  <span *ngFor="let p of listOfPages" (click)="updatePage(p)" class="cursor pagination"
        [ngStyle]="{'color':'white','background-color':'#2A2A2A','text-align':'center'}">
    {{p}}
  </span>
</div>

<div class="container">
  <div class="titleDatos">
    <h2>BITÁCORA DE TRABAJADORES</h2>
  </div>
  <div class="tarjetaT  p-2 text-white bg-dark  " *ngFor="let trabajador of trabajadores">
    <div class="row">
      <div class="col-5">
        <label class="form-label" for="nombre_trabajador">Nombre del trabajador</label>
        <input id="nombre_trabajador" required autocomplete="off" type="text" placeholder="Nombre de trabajador"
               class="inputBitacora form-control" name="buscaTrabajadorName"
               [(ngModel)]="trabajador.name">
      </div>
      <div class="col-5">
        <label class="form-label" for="hora_trabajador">Hora</label>
        <input id="hora_trabajador" required autocomplete="off" type="time" placeholder="Hora"
               class="inputBitacora form-control" name="buscaTrabajadorHoras"
               [(ngModel)]="trabajador.schedule">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-5">
                <label class="form-label" for="dia_trabajador">Dias de trabajo</label>
        <!--        <input id="dia_trabajador" required autocomplete="off" type="text" placeholder="Días de trabajo" class="inputBitacora form-control" name="buscaTrabajadorDias"-->
        <!--          [(ngModel)]="trabajador.diasTrabajo">-->
      </div>
      <div class="col-5">
        <label class="form-label" for="condomino_trabajador">Nombre del Condómino</label>
        <input id="condomino_trabajador" required autocomplete="off" type="text"
               placeholder="Nombre del Condómino"
               class="inputBitacora form-control" name="buscaNameCondomino"
               disabled
               [value]="trabajador.condominoName">
      </div>
    </div>
    <div class="row align-items-end mt-3  justify-content-end text-end">
      <div class="col-4">
        <button class="botonEliminar btn btn-block btn-danger ">Eliminar</button>
      </div>
      <div class="col-4 justify-content-end">

        <button class="botonModificar btn btn-block btn-primary">Modificar</button>
      </div>
    </div>

  </div>
</div>
