<div class="container">
  <div class="formulario row">
    <div class="col">
      <h2>Datos del Visitante</h2>
    </div>

    <div class="row">
      <div class="col-5">
        <label class="form-label">Nombre</label>
        <input
          class="form-control"
          (keydown)="validaVisita(regexName, nombreVisita.value)"
          #nombreVisita
          required
          autocomplete="off"
          type="text"
          placeholder="Escriba aqui"
          [(ngModel)]="visitante.name"
        />
        <!--Alerta de datos -->
        <div id="alertName" class="alert alert-danger" *ngIf="!visitaName">
          Favor de agregar solamente letras en este campo
        </div>
        <input
          id="flexCheckDefault"
          class="BotonVehiculo form-check-input"
          type="checkbox"
          name="Vehiculo"
          [(ngModel)]="isChecked"
        />
        <label class="form-check-label" for="flexCheckDefault">
          ¿Tiene vehiculo?
        </label>
      </div>

      <div class="col-5">
        <div *ngIf="isChecked">
          <label class="form-label" for="type_car">Tipo de Vehículo</label>
          <input
            id="type_car"
            class="form-control"
            required
            autocomplete="off"
            type="text"
            placeholder="Escriba aqui"
            [(ngModel)]="visitante.vehicle"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label class="form-label">Tarjeton</label>
        <input
          class="form-control"
          required
          autocomplete="off"
          type="text"
          placeholder="Escriba aqui"
          [(ngModel)]="visitante.card"
        />
      </div>
      <div class="col-5">
        <div *ngIf="isChecked">
          <label class="form-label" for="placas">Placas</label>
          <input
            class="form-control"
            id="placas"
            required
            autocomplete="off"
            type="text"
            placeholder="Escriba aqui"
            [(ngModel)]="visitante.licensePlates"
          />
        </div>
      </div>
    </div>

    <div class="col">
      <h2>Datos de Generales</h2>
    </div>

    <div class="row">
      <div class="col-5">
        <label for="fecha" class="form-label">Fecha</label>
        <input
          class="form-control"
          id="fecha"
          required
          autocomplete="off"
          type="date"
          placeholder="Escriba aqui"
          [(ngModel)]="visitante.arrivalDate"
        />
      </div>
      <div class="col-5">
        <label class="form-label" for="autoriza">Autorizada por</label>
        <input
          id="autoriza"
          class="form-control"
          required
          disabled
          autocomplete="off"
          type="text"
          placeholder="Escriba aqui"
          (keyup)="findInquilinoByName()"
          [(ngModel)]="user.name"
        />
        <div class="busqueda" *ngIf="condominos.length > 0">
          <div *ngFor="let c of condominos">
            <div (click)="selectInquilino(c)" class="cursor">
              {{ c.user.name }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <label class="form-label" for="hora">Hora</label>
        <input
          class="form-control"
          id="hora"
          required
          autocomplete="off"
          type="time"
          placeholder="Escriba aqui"
          [(ngModel)]="visitante.checkIn"
        />
      </div>
      <div class="col-5"></div>
    </div>

    <div class="row">
      <div class="d-grid gap-2 justify-content-end mx-auto">
        <button class="botonAgendar btn btn-success" (click)="save()" [disabled]="!isValidForm()">
          Agendar
        </button>
      </div>
    </div>
  </div>
</div>
