<!--  Numero paginas-->
<div class="buttons">
  <span *ngFor="let p of listOfPages" [ngStyle]="{'color':'white','background-color':'#2A2A2A','text-align':'center'}"
        (click)="updatePage(p - 1)" class="cursor pagination">
    {{p + 1}}
  </span>

</div>
<div class="container">

  <div *ngIf="visitantes.length <= 0 ">
    <h3> No existen visitas agendadas</h3>
  </div>

  <div class="tarjet row border border-dark border-4 rounded" *ngFor="let visitante of visitantes">
    <h2>Visitante</h2>
    <div class="row fila1">
      <div class="col-5">
        <label class="form-label" for="buscaSalidaName">Nombre:</label>
        <input required disabled autocomplete="off" type="text" placeholder="Nombre" class="inputAgendados form-control"
               name="buscaSalidaName" id="buscaSalidaName" [(ngModel)]="visitante.name">
      </div>
      <div class="col-5">
        <label class="form-label" for="tipoVehiculo">Tipo de vehículo:</label>
        <input required disabled autocomplete="off" type="text" placeholder="Tipo de vehiculo "
               class="inputAgendados form-control"
               name="tipoVehiculo" id="tipoVehiculo" [(ngModel)]="visitante.vehicle">
      </div>
    </div>

    <div class="row fila2">
      <div class="col-5">
        <label class="form-label" for="fechaVisita">Fecha:</label>
        <input required disabled autocomplete="off" type="text" placeholder="Fecha agendada" class="inputAgendados form-control"
               name="fechaVisita" id="fechaVisita" [(ngModel)]="visitante.arrivalDate">
      </div>
      <div class="col-5">
        <label class="form-label" for="horaVisita">Hora:</label>
        <input required disabled autocomplete="off" type="text" placeholder="Hora" class="inputAgendados form-control"
               id="horaVisita" name="fechaVisita"
               [(ngModel)]="visitante.checkIn">
      </div>
    </div>

    <div class="row fila3">

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="botonCancelar btn btn-danger " (click)="delete(visitante.id)">Cancelar</button>
        <a class="botonEditar btn btn-primary " [routerLink]="['/agendar_visita_condomino', visitante.id]">Editar</a>
      </div>
    </div>

  </div>

</div>
