/* blur */

.contenido {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    height: 710px;
    width: 1170px;
    
}


/* estilo para el contenedor bitacoras */

.bitacoraDatos {
    position: relative;
    top: 90px;
    height: 300px;
    width: 1100px;
    background: rgb(211, 245, 197);
    backdrop-filter: blur(8px);
    border: solid;

}


/* flexbox para barra de busqueda */

.VisitanteBusqueda {
    position: relative;
    top: 60px;
    display: flex;
    height: 50px;
    width: 1100px;
    background: rgb(211, 245, 197);
    backdrop-filter: blur(8px);
}

.botonesSalida {
    display: flex;
}


/* estilo a los datos de la barra */

.tipoVisitante{
    position: absolute;
    top: 10px;
    left: 30px;
}

.buscaVisitante {
    position: absolute;
    top: 10px;
    left: 700px;
}


/* estilo para barra de busqueda y mostrar datos */

.inputVisitante {
    position: absolute;
    top: -4px;
    left: 200px;
    height: 30px;
    width: 250px;
    padding-left: 10px;
    outline: 0px;
    font-size: 15px;
}

.inputBuscar {
    position: absolute;
    top: -4px;
    left: 80px;
    height: 30px;
    width: 250px;
    padding-left: 10px;
    outline: 0px;
    font-size: 15px;
}

/* estilo a bitacora de trabajadores */

.titleDatos {
    position: relative;
    top: 10px;
    left: 30px;
}


/* estilo para texto de formularios */

.nombreVisitante{
    position: relative;
    font-size: 20px;
    top: 16px;
    left: -330px;
    width: 350px;
}

.horaEntrada {
    position: relative;
    font-size: 20px;
    top: 30px;
    left: -330px;
    width: 350px;
}

.horaSalida {
    position: relative;
    font-size: 20px;
    top: -90px;
    left: 200px;
    width: 350px;
}

.Caseta {
    position: relative;
    font-size: 20px;
    top: -78px;
    left: 200px;
    width: 350px;
}

.inputSalidas {
    position: relative;
    height: 30px;
    width: 450px;
    padding-left: 10px;
    outline: 0px;
    font-size: 15px;
}


/* estilo de botones */

.botonEliminar {
    position: absolute;
    height: 40px;
    width: 150px;
    left: 600px;
    top: 205px;
    background-color: rgb(237, 95, 95);

    border-radius: 40px;
    font-size: 20px;
}

.botonGuardar {
    position: absolute;
    height: 40px;
    width: 150px;
    left: 850px;
    top: 205px;
    background-color: rgb(110, 148, 221);

    border-radius: 40px;
    font-size: 20px;
}
  