* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 5px;
    height: 100% !important;
    max-width: auto;
    height: fit-content;
  }

  h2 {
    text-transform: uppercase;
    font-size: 21px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    padding: 18px;
    margin: 16px;
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 8px;
  }

  .form {
    display: flex;
    justify-content: space-around;
  }

  label {
    margin-top: 7px;
    font-weight: bold;
    font-size: 14px;
  }

  .caseta {
    margin-left: 10px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
  }
  .busqueda{
    background-color: rgb(159, 211, 176);
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    border-radius: 5px;
    width: auto;
    height: 40px;
  }

  .cursor
  {
    padding-left: 8px;
  }
  
  :hover.cursor{
    background-color: rgb(31, 146, 70);
    font-weight: bold;
  }


  