<div class="container">

  <section>
    <h2>Datos de la paqueteria</h2>

    <div class="form">
      <div class="input">
        <label  for="nombre_paqueteria">Nombre / Empresa</label>
        <input required type="text" placeholder="Escriba aqui" id="nombre_paqueteria" [(ngModel)]="paquete.nombreEmpresa">
      </div>
      <div class="input">
        <label for="guia">Numero de Guia</label>
        <input required type="text" placeholder="Escriba aqui" id="guia" [(ngModel)]="paquete.numeroGuia">
      </div>
    </div>
  </section>

  <section>
    <h2>Datos del condomino</h2>
    <div class="form">
      <div class="input">
        <label for="nombre_condomino">Nombre</label>
        <input required type="text" placeholder="Escriba aqui" id="nombre_condomino" [(ngModel)]="paquete.nombreCondomino">
        <label for="calle">Numero de la casa</label>
        <input required type="text" placeholder="Escriba aqui" id="casa" [(ngModel)]="paquete.numeroCasa">
      </div>

      <div class="input">
        <label for="calle">Calle</label>
        <input required type="text" placeholder="Escriba aqui" id="calle" [(ngModel)]="paquete.calle">
      </div>
    </div>
  </section>

  <section>
    <h2>Datos generales</h2>
    <div class="form">
      <div class="input">
        <label for="recibido">Recibido por:</label>
        <input required type="text" placeholder="Escriba aqui" id="recibido" [(ngModel)]="paquete.recibeInquilino">
        <label for="hora">Hora</label>
        <input required type="time" id="hora" [(ngModel)]="paquete.horaEntrega">
      </div>

      <div class="input">
        <label for="fecha">Fecha</label>
        <input required type="date" id="fecha" [(ngModel)]="paquete.fechaEntrega">
        <label for="caseta">Caseta recibida:</label>
        <input required type="text" id="caseta" [(ngModel)]="paquete.casetaEntrega">
      </div>
    </div>
    <div class="caseta">
      <div>
        <label for="caseta">Caseta:</label>
        Caseta 1
        <input required type="checkbox" value="Caseta 1" checked disabled>
        Caseta 2
        <input required type="checkbox" value="Caseta 2" checked disabled>
      </div>
      <button (click)="save()">Registrar</button>
    </div>
  </section>
</div>
