<div class="container">

  <section>
    <h2>Datos de la paqueteria</h2>

    <div class="form">
      <div class="input">
        <label  for="nombre_paqueteria">Nombre / Empresa</label>
        <input required autocomplete="off" type="text" placeholder="Escriba aqui" id="nombre_paqueteria" [(ngModel)]="paquete.nombreEmpresa">
      </div>
      <div class="input">
        <label for="guia">Número de Guía</label>
        <input required autocomplete="off" type="text" placeholder="Escriba aqui" id="guia" [(ngModel)]="paquete.numeroGuia">
      </div>
    </div>
  </section>

  <section>
    <h2>Datos del condómino</h2>
    <div class="form">
      <div class="input">
        <label for="nombre_condomino">Nombre</label>
        <input required autocomplete="off" type="text" placeholder="Escriba aqui" id="nombre_condomino" [(ngModel)]="paquete.nombreCondomino">
        <label for="calle">Número de la casa</label>
        <input required autocomplete="off" type="text" id="casa" [(ngModel)]="paquete.numeroCasa" disabled>
      </div>

      <div class="input">
        <label for="calle">Calle</label>
        <input required autocomplete="off" type="text" id="calle" [(ngModel)]="paquete.calle" disabled>
      </div>
    </div>
  </section>

  <section>
    <h2>Datos generales</h2>
    <div class="form">
      <div class="input">
        <label for="recibido">Recibido por:</label>
        <input required autocomplete="off" type="text" placeholder="Escriba aqui" id="recibido" [(ngModel)]="paquete.recibeInquilino">
        <label for="hora">Hora</label>
        <input required autocomplete="off" type="time" id="hora" [(ngModel)]="paquete.horaLlegada">
      </div>

      <div class="input">
        <label for="fecha">Fecha</label>
        <input required autocomplete="off" type="date" id="fecha" [(ngModel)]="paquete.fechaLlegada">
        <label for="caseta">Caseta recibida:</label>
        <input required autocomplete="off" type="text" id="caseta" [(ngModel)]="paquete.casetaRecibida">
      </div>
    </div>
    <div class="caseta">
      <!--<div>
        <label for="caseta">Caseta:</label>
        Caseta 1
        <input required  type="checkbox" value="Caseta 1" checked disabled>
        Caseta 2
        <input required  type="checkbox" value="Caseta 2" checked disabled>
      </div>-->
      <button (click)="save()">Registrar</button>
    </div>
  </section>
</div>
