<app-encabezado></app-encabezado>
<!-- contenedor de inquinos -->
<div class="contenido">
    <div class="containerInquilinos">
        <!-- contenedor de titulo contenedor -->
        <div class="title1">
            <h1>INQUILINOS</h1>
        </div>
        <!-- titulo de seccion-->
        <div class="infoTxt">
            <h2>BUSQUEDA DE INQUILINO</h2>
        </div>
        <!-- form de nombre -->
        <div class="nombre">
            <h3>Nombre<br><br></h3>
            <input type="text" placeholder="Buscar Inquilino" class="inputBarra" name="buscaName">
        </div>
        <!-- form de telefono -->
        <div class="telefono">
            <h3>Número de telefono<br><br></h3>
            <input type="text" placeholder="Buscar por numero de telefono" class="inputBarra" name="buscaTel">
        </div>
        <!-- boton para enviar datos del formulario y realizar busqueda-->
        <div class="button">
            <button class="boton">Buscar</button>
        </div>
    </div>
    <!-- contenedor datos de inquilino -->
    <div class="containerDatos">
        <!-- contenedor de titulo contenedor -->
        <div class="title2">
            <h1>DATOS DEL CONDÓMINO</h1>
        </div>
        <!-- form de nombre -->
        <div class="nombreDatos">
            <h3>Nombre:<br><br></h3>
            <input type="text" placeholder="Buscar Inquilino" class="inputDatos" name="muestraName">
        </div>
        <!-- Imagen de programa -->
        <div class="imagenUser">
            <img src="https://www.pngmart.com/files/21/Account-User-PNG-Photo.png" alt="user" id="userImg" width="200px">
        </div>
        <!-- form de correo -->
        <div class="correoDatos">
            <h3>Correo Electronico:<br><br></h3>
            <input type="text" placeholder="Correo electronico" class="inputDatos" name="muestraCorreo">
        </div>
        <!-- form de direccion -->
        <div class="direccionDatos">
            <h3>Dirección:<br><br></h3>
            <input type="text" placeholder="Direccion" class="inputDatos" name="muestraDireccion">
        </div>
        <!-- form de telefono-->
        <div class="telefonoDatos">
            <h3>Telefono:<br><br></h3>
            <input type="text" placeholder="Telefono" class="inputDatos" name="muestraTelefono">
        </div>
        <!-- form de numero emergencia -->
        <div class="emergenciaDatos">
            <h3>Número de emergencia:<br><br></h3>
            <input type="text" placeholder="Telefono de emergencia" class="inputDatos" name="muestraEmergencia">
        </div>
        <!-- boton modificar -->
        <div class="buttonModificar">
            <button class="botonModificar">Modificar</button>
        </div>
        <!-- boton eliminar -->
        <div class="buttonEliminar">
            <button class="botonEliminar">Eliminar</button>
        </div>
        <!-- Estado de pago -->
        <div class="estadoPago">
            <h3>Pago:<br><br></h3>
            <img src="../../assets/happyFace.png" alt="pago" id="pagoImg" width="150px"> <br><br><br>
            <h3>No pagado<br><br></h3>
        </div>
    </div>
</div>
<!-- <app-pie-pagina></app-pie-pagina> -->