<app-encabezado></app-encabezado>
<!-- contenedor de inquinos -->
<div class="contenido">
    <div class="containerInquilinos">
        <!-- contenedor de titulo contenedor -->
        <div class="title1">
            <h1>INQUILINOS</h1>
        </div>
        <!-- titulo de seccion-->
        <div class="infoTxt">BUSQUEDA DE INQUILINO</div>
        <!-- form de nombre -->
        <div class="nombre">
            Nombre<br><br>
            <input type="text" placeholder="Buscar Inquilino" class="inputBarra" name="buscaName">
        </div>
        <!-- form de telefono -->
        <div class="telefono">
            Número de telefono<br><br>
            <input type="text" placeholder="Buscar por numero de telefono" class="inputBarra" name="buscaTel">
        </div>
        <!-- boton para enviar datos del formulario y realizar busqueda-->
        <div class="button">
            <button class="boton">Buscar</button>
        </div>
    </div>
    <!-- contenedor datos de inquilino -->
    <div class="containerDatos">
        <!-- contenedor de titulo contenedor -->
        <div class="title2">
            <h1>DATOS DEL CONDÓMINO</h1>
        </div>
        <!-- titulo de seccion-->
        <div class="infoTxt2">BUSQUEDA DE INQUILINO</div>
        <!-- form de nombre -->
        <div class="nombre">
            Nombre<br><br>
            <input type="text" placeholder="Buscar Inquilino" class="inputBarra" name="buscaName">
        </div>
        <!-- form de nombre -->
        <!-- <div class="telefono">
        Número de telefono<br><br>
        <input type="text" placeholder="Buscar por numero de telefono" class="inputBarra" name="buscaTel">
    </div> -->
        <!-- boton para enviar datos del formulario y realizar busqueda-->
        <!-- <div class="button">
        <button class="boton">Buscar</button>
    </div> -->
    </div>
</div>
<app-pie-pagina></app-pie-pagina>